@import url(http://fonts.googleapis.com/css?family=Lato);
html, body, div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, tt, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; padding: 0px; vertical-align: baseline; }
body { color: rgb(34, 34, 34); font-family: 'Lato', sans-serif; font-size: 62.5%; z-index: 0; }
a img { border: medium none; }
HTML { overflow-y: scroll; }
P { margin-bottom: 6px; }
@media not all {
  BODY {  }
  TEXTAREA, IMG, A { outline: medium none; }
  INPUT:not([type="checkbox"]) { outline: medium none; }
  HTML { border-top: 0px none; }
}
BODY { font-family: 'Lato', sans-serif; background: url("bg.jpg") repeat-x scroll center top rgb(255, 255, 255); }
HR { margin-top: 15px; margin-bottom: 15px; padding: 0px; border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.float-container { overflow: hidden; }
.flcr { float: left; clear: right; }
.fl { float: left; }
.fr { float: right; }
.centered { text-align: center; }
.clear { clear: both; }
.tabs { border-bottom: 1px solid rgb(0, 0, 0); }
.tabs A, .tabs A:visited { font-weight: bold; display: inline-block; padding: 0px 5px; margin: 0px 0px 0px 3px; height: 26px; line-height: 26px; border: 1px solid rgb(0, 0, 0); position: relative; top: 1px; min-width: 100px; text-align: center; color: rgb(0, 85, 136); background: none repeat scroll 0% 0% rgb(221, 221, 221); text-decoration: none; }
.panels { width: 100%; overflow: hidden; position: relative; top: 0px; min-height: 350px; }
.panels .panel { padding-top: 25px; position: absolute; top: 0px; left: 0px; width: 100%; overflow: hidden; min-height: 350px; }
.panel H2 { font-size: 15px; padding: 0px; margin: 0px 0px 15px; }
.blue-arrows P { font-size: 16px; padding: 0px 0px 0px 20px; margin: 0px 0px 10px 20px; background: url("blue-arrow.jpg") no-repeat scroll 0px 0px transparent; }
.blue-nums P { height: 40px; font-size: 15px; padding: 6px 0px 0px 45px; margin: 0px; }
.blue-nums P.one { background: url("urn:not-loaded:file:///C:/TMP/New%20folder%20(8)/Clean%20Up%20PC%20_%20Clean%20Computer_files/one_icon.png") no-repeat scroll 0px 0px transparent; }
.blue-nums P.two { background: url("urn:not-loaded:file:///C:/TMP/New%20folder%20(8)/Clean%20Up%20PC%20_%20Clean%20Computer_files/two_icon.png") no-repeat scroll 0px 0px transparent; }
.blue-nums P.three { background: url("urn:not-loaded:file:///C:/TMP/New%20folder%20(8)/Clean%20Up%20PC%20_%20Clean%20Computer_files/three_icon.png") no-repeat scroll 0px 0px transparent; }
.windows { display: inline-block; padding-top: 5px; padding-left: 30px; background: url("icon-win.jpg") no-repeat scroll 0px 0px transparent; height: 25px; }
.btndown { display: inline-block; width: 286px; height: 80px; background: url("urn:not-loaded:http://www.pchealthboost.com/a/cb/clean/1/images/big-green-button4.jpg") no-repeat scroll 0px 0px transparent; }
.btndown:hover { background-position: 0px -80px; }
#highly-recommend { width: 960px; margin: 0px auto; overflow: hidden; height: 73px; line-height: 73px; }
#highly-recommend SPAN { display: inline-block; font-family: 'Lato', sans-serif; font-weight: bold; color: rgb(255, 255, 255); font-size: 32px; margin-right: 30px; }
#highly-recommend DIV { display: inline-block; width: 115px; height: 32px; }
#logo-menus { width: 960px; margin: 0px auto; overflow: hidden; height: 80px; line-height: 79px; }
#logo-menus #logo { width: 262px; height: 80px; background: url("pchb-logo.png") no-repeat scroll 0px center transparent; margin-right: 20px; }
#logo-menus #menus { text-align: right; width: 430px; height: 77px; padding-top: 3px; }
#logo-menus #menus A, #logo-menus #menus A:visited { display: inline-block; font-family: 'Lato', sans-serif; text-transform: uppercase; font-size: 15px; font-weight: bold; height: 22px; line-height: 22px; white-space: nowrap; padding-left: 10px; padding-right: 10px; color: rgb(187, 187, 187); text-decoration: none; border-radius: 8px; }
#logo-menus #menus A:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(17, 102, 153); border-radius: 8px; }
#content { width: 920px; margin: 10px auto; border: 2px solid rgb(221, 221, 221); box-shadow: 0px 0px 10px rgb(136, 136, 136); border-radius: 8px; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 15px; color: rgb(0, 0, 0); padding: 20px; }
#content #main { width: 590px; }
#content #sidebar { width: 305px; }
#content #sidebar .windows { position: relative; top: 8px; }
#content #sidebar #mcafee-secure { width: 230px; overflow: hidden; margin: 0px auto; }
#content #sidebar #mcafee-secure DIV { width: 160px; float: left; }
#content #sidebar #download-time { width: 305px; height: 37px; background: url("download_time.png") no-repeat scroll center center transparent; }
#footer { width: 960px; margin: 15px auto; font-size: 12px; color: rgb(136, 136, 136); padding-bottom: 30px; }
#footer #footer-links { width: 700px; }
#footer #footer-links A, #footer #footer-links A:hover { color: rgb(136, 136, 136); }
#footer #bbb { width: 160px; height: 90px; }
#content #main #pcbox { width: 580px; }
#content #main #pcbox #pcicon { width: 120px; }
#content #main #pcbox #headline { width: 460px; }
#content #main #pcbox H1 { color: rgb(0, 85, 136); font-size: 24px; font-weight: bold; margin-top: 12px; margin-bottom: 5px; padding: 0px; }
#content #main #pcbox H2 { color: rgb(85, 85, 85); font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; }
#content #main #features { margin-top: 30px; width: 590px; }
#content #main #features #cred { width: 199px; margin-right: 5px; }
#content #main #features #features-list { width: 380px; margin-bottom: 40px; }
#content #main #features #features-list H3 { background: url("blue-arrow.jpg") no-repeat scroll 0px 0px transparent; height: 36px; font-size: 16px; line-height: 18px; font-weight: bold; padding: 0px 0px 0px 25px; margin: 8px 0px 10px; }
#content #main #features #features-list H4 { font-weight: bold; font-size: 18px; padding: 0px 0px 0px 20px; margin: 0px 0px 13px; }
#content #main #features #features-list H4 SPAN { color: rgb(0, 51, 153); }
#content #main #features #features-list UL { position: relative; left: -15px; list-style-type: disc; }
#content #main #features #features-list LI { list-style-type: disc; margin-bottom: 15px; }
#content #main #how-it-works-image { width: 535px; height: 98px; background: url("urn:not-loaded:file:///C:/TMP/New%20folder%20(8)/Clean%20Up%20PC%20_%20Clean%20Computer_files/scan-repair-errors.jpg") no-repeat scroll 0px 0px transparent; }
#content #main #req { padding-left: 258px; background: url("screen-and-logos.jpg") no-repeat scroll 0px 30px transparent; }
#content #main #req H2 { font-size: 24px; font-weight: bold; color: rgb(0, 85, 136); margin: 0px 0px 5px; padding: 0px 0px 0px 30px; background: url("icon-win.jpg") no-repeat scroll 0px 0px transparent; }
#pcicon { position: relative; top: 10px; left: 10px; }
#content #main #pcbox H2 { word-spacing: -1px; }
#compatible { font-size: 13px; }
.btndown { display: inline-block; width: 300px; height: 87px; background: url("sweepbutton.jpg") no-repeat scroll 0px 0px transparent; }
.btndown:hover { background-position: 0px -87px; }
.btndownbig { display: inline-block; width: 379px; height: 102px; background: url("large-sweepbutton.jpg") no-repeat scroll 0px 0px transparent; }
.btndownbig:hover { background-position: 0px -102px; }
#content #sidebar #mcafee-secure { margin: 0px; font-size: 13px; width: 300px; float: none; text-align: center; }
#content #sidebar #mcafee-secure DIV { margin: 0px; font-size: 13px; width: 300px; float: none; text-align: center; }
#cred-mcafee { text-align: center; padding-bottom: 15px; }
#content #main #how-it-works-image2 { width: 535px; height: 98px; background: url("urn:not-loaded:file:///C:/TMP/New%20folder%20(8)/Clean%20Up%20PC%20_%20Clean%20Computer_files/scan-repair-errors-g.jpg") no-repeat scroll 0px 0px transparent; }
