/*
Style 4
*/


/* GENERAL CSS  
--------------------------------------------------------------------------------------------------------------------- */


a { color: #86B827; text-decoration: none; }


/* LAYOUT CSS
--------------------------------------------------------------------------------------------------------------------- */


/* Logo --------------------------------------------------------------------------------------------------------- */

#logo img { background-color: #86B827; }


/* Main navigation ----------------------------------------------------------------------------------------------- */

#nav ul li.active a, #nav ul li a:hover, #nav ul li:hover a, #nav ul li.sfHover a { color: #86B827; }

a.nav-mobile { background-color: #86B827; }
#nav-mobile li a:hover, #nav-mobile li a:focus { background-color: #86B827; }

#nav li li.active a, #nav li li li.active a, #nav li li li li.active a,#nav li li li li li.active a, #nav li li a:hover, #nav li li li a:hover, #nav li li li li a:hover, #nav li li li li li a:hover  { color: #444444; }


/* Top -------------------------------------------------------------------------------------------------------- */

#top .moduletable a:hover { color: #86B827; }


/* Footer -------------------------------------------------------------------------------------------------------- */

#footer .moduletable li a:hover { color: #86B827; }
#footer .moduletable a, #footer .moduletable p a { color: #86B827; }


/* Copyright -------------------------------------------------------------------------------------------------------- */

#copyright ul li.active a, #copyright ul li a:hover, #copyright ul li:hover a, #copyright ul li.sfHover a { color: #86B827;  }



/* JOOMLA! CSS  
--------------------------------------------------------------------------------------------------------------------- */


/* Article Title */

.blog h2.title a:hover, .blog-featured h2.title a:hover, .item h2.title a:hover, .item-page h2.title a:hover { color: #86B827; text-shadow: 0 0 1px #86B827; }


/* Archived Articles */

.archive h2 a:hover { color: #86B827; } 


/* News Feeds in a Category */

.newsfeed-category h2 a:hover { color: #86B827; }


/* Single News Feed */

.newsfeed.redirect-ltr h2 a:hover { color: #86B827; }


/* Single Contact */

.contact-category h2 a:hover { color: #86B827; }



/* Joomla! Modules CSS -------------------------------------------------------------------------------------------------------- */


/* Moduletable */

.moduletable h3, .moduletable_menu h3, .moduletable_text h3 { background-color: #86B827; }


/* Button, Input */

button, .button, input.button { background-color: #86B827; }


/* Search */

.moduletable .search h1 { background-color: #86B827; }



/* Module Variations -------------------------------------------------------------------------------------------------------- */


/* Variation 2 */

.moduletable-var2 h3 { background-color: #86B827; }


/* Variation 3 */

.moduletable-var3 h3 { border-bottom: 3px solid #86B827; }


/* Variation 4 */

.moduletable-var4 h3 { background-color: #86B827; }


/* Variation 6 */

.moduletable-var6 h3 { background-color: #86B827; }


/* Variation 7 */

.moduletable-var7 h3 { border-bottom: 3px solid #86B827; }


/* Variation 8 */

.moduletable-var8 { background-color: #86B827; }
.moduletable-var8 h3 { background-color: #86B827; }


/* Variation 10 */

.moduletable-var10 { background-color: #86B827; }
.moduletable-var10 h3 { background-color: #86B827; }


/* Variation 11 */

.moduletable-var11 h3 { border-bottom: 3px solid #86B827; }


/* Variation 13 */

.moduletable-var13 h3 { color: #86B827; text-shadow: 0 0 1px #86B827; }


/* Variation 15 */

.moduletable-var15 h3 { color: #86B827; text-shadow: 0 0 1px #86B827; }


