/*

Theme Name: Favourite
Theme URL: http://demo.favthemes.com/favourite/
Description: Responsive and Customizable Joomla! Template 
Author: FavThemes
Author URI: http://www.favthemes.com
Version: 1.0
License: GNU General Public License v3.0
License URI: http://www.gnu.org/copyleft/gpl.html

*/


/*  Table of Content
---------------------------------------------------------------------------------------------------------------------

1. GENERAL CSS 
    1.1 Reset
    1.2 Clearfix
    1.3 Headings
    1.4 Paragraph
2. RESPONSIVE GRID 
3. @font-face
    3.1 Cabin
    3.2 Source Sans Pro
    3.3 Crimson
4. LAYOUT CSS
    4.1 Logo
    4.2 Header
    4.3 Main divs
    4.4 Topnav
    4.5 Main navigation
    4.6 Slide
    4.7 Intro
    4.8 Promo
    4.9 Top
    4.10 Footer
    4.11 Copyright
    4.12 Backtotop
    4.13 Styles Module
5. JOOMLA! CSS
    5.1 Joomla! Content CSS
    5.2 Joomla! Modules CSS
    5.3 Module Variations
    5.4 Component
    5.5 Error
    5.6 Print
6. TYPOGRAPHY 
    6.1 Blockquote
    6.2 Pre, Code
    6.3 Drop Caps
    6.4 Inline Labels
    6.5 List Icons
    6.6 Box Icons
    6.7 Buttons
    6.8 Bubbles
    6.9 Image Styles

--------------------------------------------------------------------------------------------------------------------- */



/* 1. GENERAL CSS  
--------------------------------------------------------------------------------------------------------------------- */

body { font-family: "Trebuchet MS", 'CabinRegular', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.5em; background-color: #ffffff; color: #1F1F1F; }

a { color: #0099FF; text-decoration: none; }
a:hover { color: #444444; }


/* 1.1 Reset */ 

html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
html, body, div { border:0; margin:0; padding:0; }

a:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset:-2px;}
a:hover, a:active { outline:0; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
img { max-width:100%; height:auto; border:0; -ms-interpolation-mode:bicubic; }
hr { margin: 1em 0; border:0; border-top: 1px solid #dddddd; border-bottom: 1px solid #ffffff; }
strong { font-weight:bold; }
em { font-style:italic; }
abbr { font-size:90%; text-transform: uppercase; border-bottom:1px dotted #ddd; cursor:help; }
textarea{ overflow: auto; vertical-align: top; } /* Removes scrollbar in IE */
address { display: block; margin-bottom: 1em; line-height: 1em; font-style:normal; }
small { font-size:100%; }
cite { font-style:normal; }
fieldset, img, iframe { border: 0; }
ul, ol, dl, blockquote, pre, fieldset, figure, .custom { margin: 1.143em 0; }
ul li { list-style: none; }


/* 1.2 Clearfix */

.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }


/* 1.3 Headings */

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.5em; margin-top: 2em; margin-bottom: 0.857em; text-rendering: optimizelegibility; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.375em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; } 
h5 { font-size: 1em; text-transform:uppercase; font-weight:bold; }
h6 { font-size: 1em; text-transform:uppercase; }


/* 1.4 Paragraph */

p { margin: 0 0 1.143em 0; }



/* 2. RESPONSIVE GRID  
--------------------------------------------------------------------------------------------------------------------- */

.container { padding-left: 4%; padding-right: 4%; }
.row { width: 98%; max-width: 1020px; min-width: 727px; margin: 0 auto; *zoom: 1; }
.row:before, .row:after { display: table; content: "";}
.row:after { clear: both; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol
{ margin-left: 1.1%; margin-right: 1.1%; float: left; min-height: 1px; }

.row .onecol { width: 6.14%; }
.row .twocol { width:  14.4%; }
.row .threecol { width: 22.84%; }
.row .fourcol { width: 31.2%; }
.row .fivecol { width: 39.44%; }
.row .sixcol { width: 47.8%; }
.row .sevencol { width: 56.24%; }
.row .eightcol { width: 64.52%; }
.row .ninecol { width: 72.86%; }
.row .tencol { width: 81.2%; }
.row .elevencol { width: 89.54%; }
.row .twelvecol { width: 97.8%; }

.last { margin-right: 0px; }

/* IE Styles */

.lt-ie8 .onecol,.lt-ie8 .twocol, .lt-ie8 .threecol, .lt-ie8 .fourcol, .lt-ie8 .fivecol, .lt-ie8 .sixcol, .lt-ie8 .sevencol, .lt-ie8 .eightcol, .lt-ie8 .ninecol, .lt-ie8 .tencol, .lt-ie8 .elevencol, .lt-ie8 .twelvecol { margin-left: .92%; margin-right: .92%; }
.lt-ie7 .container, .lt-ie7 .row { display:none; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

body { -webkit-text-size-adjust: none; }
    
.row, body, .container { width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol,
.row .tencol, .row .elevencol, .row .twelvecol { width: auto; float: none; margin-left: 0px; margin-right: 0px; padding-left: 4%; padding-right: 4%; }

}


/* 3. @font-face - Generated by Font Squirrel (http://www.fontsquirrel.com) 
--------------------------------------------------------------------------------------------------------------------- */

/* 3.1 Cabin */


@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/Cabin/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('../fonts/Cabin/Cabin-Medium-webfont.eot');
    src: url('../fonts/Cabin/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin/Cabin-Medium-webfont.woff') format('woff'),
         url('../fonts/Cabin/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Cabin/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('../fonts/Cabin/Cabin-SemiBold-webfont.eot');
    src: url('../fonts/Cabin/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Cabin/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/Cabin/Cabin-Bold-webfont.eot');
    src: url('../fonts/Cabin/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/Cabin/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* 3.2 Source Sans Pro */


@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/Source-Sans-Pro/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Source-Sans-Pro/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* 3.2 Crimson */


@font-face {
    font-family: 'CrimsonRoman';
    src: url('../fonts/Crimson/Crimson-Roman-webfont.eot');
    src: url('../fonts/Crimson/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/Crimson-Roman-webfont.woff') format('woff'),
         url('../fonts/Crimson/Crimson-Roman-webfont.ttf') format('truetype'),
         url('../fonts/Crimson/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonItalic';
    src: url('../fonts/Crimson/Crimson-Italic-webfont.eot');
    src: url('../fonts/Crimson/Crimson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson/Crimson-Italic-webfont.woff') format('woff'),
         url('../fonts/Crimson/Crimson-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Crimson/Crimson-Italic-webfont.svg#CrimsonItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* 4. LAYOUT CSS
--------------------------------------------------------------------------------------------------------------------- */


/* 4.1 Logo --------------------------------------------------------------------------------------------------------- */

#logo { height: 56px; margin: 0.14em 0; }
#logo img { opacity: 0.7; }
#logo img:hover { opacity: 0.9; 
-webkit-transition: all 400ms linear;
-moz-transition: all 400ms linear;
-o-transition: all 400ms linear;
transition: all 400ms linear;
}

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#logo { text-align: center; }

}


/* 4.2 Header ------------------------------------------------------------------------------------------------------- */

#header { margin-top: 2.5em; margin-bottom: 1em; border-bottom: 1px solid #cccccc; padding-bottom: 12px; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#header { margin: 2.5em 0 1.5em; border:none; padding:0; }

}

@media handheld, only screen and (max-width: 480px) {

#header { margin: 2em 0 1em; border:none; padding:0; }

}


/* 4.3 Main divs ----------------------------------------------------------------------------------------------------- */

#container { border-top: 10px solid #000000; }
#advertwrap h3 { margin-top: 1em; }
#advert .moduletable { margin:0; }
#breadcrumbs { margin-bottom: 1.5em; }
#maincontent ul { padding: 0 10px; }
#maincontent ul li { background: url(../images/system/arrow.png) no-repeat 0 9px; padding-left: 1.4em; line-height: 1.8em; }
#maincontent ul.actions { padding:0; }
#maincontent ul.actions li { background: none; padding-left:0; line-height:0; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#container { border-top: none; }

}


/* 4.4 Topnav -------------------------------------------------------------------------------------------------------- */

#topnavwrap { background-color: #eeeeee; }
#topnav .moduletable { float: left; margin:0; }
#topnav .moduletable h3 { margin-top: 1em; }
#topnav .moduletable p { margin-bottom: 1em; }
#topnav .moduletable p img, #topnav .moduletable img { vertical-align: middle; }

#topnav .moduletable .menu li { background:none; padding-left:0; }
#topnav ul { margin: 0; padding: 0; }
#topnav ul li { float: left; list-style: none; font-size: 0.8em; }
#topnav ul li a { display:block; padding: 0 10px; margin: 0 0 0 20px; line-height: 2.6em; }
#topnav ul li.active a, #topnav ul li a:hover, #topnav ul li:hover a, #topnav ul li.sfHover a { text-decoration:none; }
#topnav1 .moduletable { float: left; }
#topnav2 .moduletable { float: right; }


/* Topnav Mobile */

#topnav1-mobile .moduletable, #topnav2-mobile .moduletable { overflow: hidden; }
#topnav1-mobile .moduletable h3, #topnav2-mobile .moduletable h3 { color: #eeeeee; padding: 10px 17px; margin: 10px 0 15px 0; }
#topnav1-mobile .moduletable .menu li, #topnav2-mobile .moduletable .menu li { background:none; padding-left: 0; }
#topnav1-mobile .moduletable ul, #topnav2-mobile ul { margin: 1em 0 0; padding: 0; }
#topnav1-mobile ul li, #topnav2-mobile ul li { float: left; list-style: none; font-size: 0.8em; }
#topnav1-mobile ul li a, #topnav2-mobile ul li a  { background-color: #eeeeee; display: block; padding: 0.5em 1em; margin: 0 1em 0 0; line-height: 1.5em; text-align:center; }
#topnav1-mobile ul li.active a, #topnav1-mobile ul li a:hover, #topnav1-mobile ul li:hover a, #topnav1-mobile ul li.sfHover a, 
#topnav2-mobile ul li.active a, #topnav2-mobile ul li a:hover, #topnav2-mobile ul li:hover a, #topnav2-mobile ul li.sfHover a { text-decoration:none; }

.lt-ie9 #topnav1-mobile, .lt-ie9 #topnav2-mobile { display:none; }

@media (min-width: 768px) {

#topnav1-mobile, #topnav2-mobile { display: none; }

}

/* Date */

#showdate { font-size: 0.8em; line-height: 2.6em; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#topnav, #topnav ul, #topnavwrap.container { display: none; }

}


/* 4.5 Main navigation ----------------------------------------------------------------------------------------------- */

#nav { z-index:100; position: relative; margin-top: 2px; margin-bottom: 10px; height: 2.5em; float:right; }
#nav .moduletable { padding: 0; margin: 0; background: none; border: none; overflow: visible; }
#nav .moduletable .menu li { background: none; }
#nav ul { margin: 0; padding: 0; float:right; }
#nav ul li { float: left; list-style: none; height: 2.5em; position:relative; }
#nav ul li a { color: #000000; display:block; padding: 0 10px; margin: 0 0 0 20px; font-size: 1em; line-height: 3.3em; 
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;
}
#nav ul li.active a, #nav ul li a:hover, #nav ul li:hover a, #nav ul li.sfHover a { color: #0099FF; text-decoration: none; }
.lt-ie8 #nav { float: none; }

/* Subnav */

#nav li ul { background-color: #ffffff; border: 1px solid #dddddd; border-bottom: none; width: 210px; position: absolute; left: -999em; }
#nav li ul ul { margin:-38px 0 0 210px; }
#nav li:hover ul, #nav li.sfHover ul { left: 10px; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul, #nav li.sfHover ul ul ul ul { left:-999em; }
#nav li li { padding: 0; height: auto; width: 210px; border-left:none; }
#nav li li a, #nav li li.active a, #nav li li a:hover { height: 36px; font-size: 0.8em; line-height: 36px; border-bottom:1px solid #dddddd; margin: 0; padding-left: 20px; }
#nav li li.active a, #nav li li li.active a, #nav li li li li.active a,#nav li li li li li.active a, #nav li li a:hover, #nav li li li a:hover, #nav li li li li a:hover, #nav li li li li li a:hover  { color: #444444; margin-right: 0; }
#nav li li a, #nav li.active li a { font-weight: normal; text-transform: none; }
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul, #nav li li li li.sfHover ul { left:0; }
#nav select { display: none; }
.lt-ie8 #nav ul li li:hover, .lt-ie8 #nav ul li li.hover { position: static; }
.lt-ie9 #navbar, .lt-ie9 #nav-mobile,  .lt-ie9 #topnav-mobile, .lt-ie9 #backtotop-mobile { display: none; }


@media (min-width: 768px) and (max-width: 1100px) {

#nav { margin-top: 8px; }
#nav ul li a { font-size: 0.8em; margin: 0 0 0 14px; }
#nav li li a, #nav li li.active a, #nav li li a:hover { padding-left: 14px; }
#nav ul li li a { margin: 0; }

}

@media (min-width: 768px) {

#navbar, #nav-mobile, #backtotop-mobile { display: none; }

}

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#nav, #nav ul { display: none; }

#navbar { background-color: #1f1f1f; margin-left: 4%; margin-right: 4%; }
a.nav-mobile { float: right; color: #ffffff; background-color: #0099FF; text-decoration: none; padding: 0 10px; margin: 8px; font-size: 0.8em; line-height: 2em; height: 2em; text-transform: uppercase; }
a.nav-mobile:hover, a.nav-mobile:focus { color: #ffffff; background-color: #777777; }
#nav-mobile { background-color: #1f1f1f; margin:0 20px; padding:0; }
#nav-mobile .moduletable { padding:0; }
#nav-mobile ul { background-color: #1f1f1f; padding: 5px 0; }
#nav-mobile li a { display: block; padding: 0 20px; color: #ffffff; text-decoration: none; font-weight: bold; text-transform: uppercase; line-height: 2em; height: 2em; border-bottom: 1px solid #383838; }
#nav-mobile li a:hover, #nav-mobile li a:focus { color: #ffffff; background-color: #0099FF; }
#nav-mobile .moduletable ul li, #nav-mobile ul{ background:none; padding:0; }
#nav-mobile ul, ol { margin:0; }

#nav-mobile ul ul, #nav-mobile ul ul ul, #nav-mobile ul ul ul ul { padding: 1px 0; }
#nav-mobile ul li li a  { margin-left: 20px; background: url(../images/navmobile.png) no-repeat 0 center; padding-left:20px; }
#nav-mobile ul li li li a { margin-left:40px; }
#nav-mobile ul li li li li a { margin-left:60px; }
#nav-mobile ul li li li li li a { margin-left:80px; }

#backtotop-mobile { text-align: center; padding-top: 10px;}

}


/* 4.6 Slide -------------------------------------------------------------------------------------------------------- */

#slidewrap { margin-top: 1.5em; }
#slide .moduletable li { background:none; }
#slide .moduletable li ul { margin-bottom: 1em; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#slidewrap { margin-top: 0; }
#slide .moduletable li ul { margin-bottom: 0; }

}


/* 4.7 Intro -------------------------------------------------------------------------------------------------------- */

#intro { border-bottom: 1px solid #cccccc; margin-bottom: 1em; padding-bottom: 0.5em; }
#intro p { font-size: 1.25em; font-family: 'CabinMedium', sans-serif; line-height: 1.5em; text-align: center; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#intro { border-top: 1px solid #cccccc; padding-bottom: 0; }
#intro p { font-size: 1em; font-family: 'CabinRegular', sans-serif; line-height: 1.5em; }

}


/* 4.8 Promo -------------------------------------------------------------------------------------------------------- */

#promo p.hello { color: #000000; text-align: center; font-family: 'CabinSemiBold', sans-serif; font-size: 3.125em; line-height: 1em; margin-bottom: 26px; }

@media (min-width: 480px) and (max-width: 767px) {

#promo p.hello { color: #000000; text-align: center; font-family: 'CabinSemiBold', sans-serif; font-size: 2.1em; line-height: 1em; margin-bottom: 16px; text-shadow: 1px 0 1px #000000; }

}

@media (max-width: 479px) {

#promo p.hello { color: #000000; text-align: center; font-family: 'CabinMedium', sans-serif; font-size: 1.4em; line-height: 1.3em; margin-bottom: 0; text-shadow: 1px 0 1px #000000; }

}


/* 4.9 Top -------------------------------------------------------------------------------------------------------- */

#top { border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin-top: 1.5em; margin-bottom: 1.5em; padding: 1em 0 0.5em; }
#top .moduletable a { color: #202020; }
#top .moduletable a:hover { color: #0099FF; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#top { border-top: none; border-bottom: none; }

}


/* 4.10 Footer -------------------------------------------------------------------------------------------------------- */

#footerwrap { background-color: #000000; color: #ffffff; }
#footer .moduletable h3 { margin-top:1em; }
#footer .moduletable li { background: none; padding-left:0; padding-bottom: 10px; }
#footer .moduletable li a { color: #eeeeee; font-size: 1em; }
#footer .moduletable li a:hover { color: #0099FF; }
#footer .moduletable a, #footer .moduletable p a { color: #0099FF; font-size: 1em; }
#footer .moduletable a:hover, #footer .moduletable p a:hover { color: #eeeeee; }


/* 4.11 Copyright -------------------------------------------------------------------------------------------------------- */

#copyright .moduletable { margin-top: 0.5em; margin-bottom: 0; }
#copyright .moduletable h3 { margin-top: 1em; }
#copyright .moduletable p { margin-bottom:0; }
#copyright ul { float:right; margin:0; padding: 1.2em 0 0; }
#copyright ul li { float:left; list-style:none; background: none; }
#copyright ul li a { display:block; color: #1F1F1F; }
#copyright ul li.active a, #copyright ul li a:hover, #copyright ul li:hover a, #copyright ul li.sfHover a { color: #0099FF;  text-decoration:none; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#copyright { margin-bottom: 4em; }
#copyright .moduletable { text-align:center; }
#copyright ul { float:none; margin:0; padding:0; }
#copyright2 .moduletable,  #copyright ul li { float:none; margin-top:0; text-align:center; }

}


/* 4.12 Backtotop -------------------------------------------------------------------------------------------------------- */

#backtotop { margin-top: 1.7em; }
#backtotop img { float:right; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

#backtotop { display: none; }

}


/* 4.13 Styles Module -------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {

#styles { width: 70px; top: 121px; left: 0; position:fixed; }
#styles .moduletable { background-color: #ffffff; border: 1px solid #dddddd; margin-top:0; padding-bottom: 0; }
#styles .moduletable h3 { border: none; text-align:center; padding: 7px 0; margin-bottom: 1em; }
#styles p { margin-bottom: 5px; text-align:center; }

#styles-mobile { display: none; }

}

/* Mobile */

@media (min-width: 420px) and (max-width: 767px) {

#styleswrap { position:fixed; bottom:0; left:0; }
#styles-mobile { background-color: #ffffff; border: 1px solid #dddddd; padding-left: 4%; padding-right: 4%; }
#styles-mobile p { display: inline; }
#styles-mobile .moduletable { padding-top: 12px; padding-bottom: 4px; margin:0; }
#styles-mobile a { padding-right: 6px; }
#styles { display: none; }

}

@media (max-width: 419px) {

#styles { display: none; }
#styles-mobile { display: none; }

}

/* IE */

.lt-ie9 #styles { width: 70px; top: 158px; left: 0; position:fixed; }
.lt-ie9 #styles .moduletable { margin-top:0; padding-bottom: 0; }
.lt-ie9 #styles .moduletable h3 { border: none; text-align:center; padding: 7px 0; }
.lt-ie9 #styles p { margin-bottom: 5px; text-align:center; }
.lt-ie9 #styles-mobile { display: none; }

.lt-ie9 #styles-mobile { display:none; }


/* 5. JOOMLA! CSS  
--------------------------------------------------------------------------------------------------------------------- */


/* 5.1 Joomla! Content CSS -------------------------------------------------------------------------------------------------------- */


/* Article */

.blog, .blog-featured, .item, .item-page { text-align:justify; display:block; overflow:hidden; }
.item, .blog-featured, .items-leading, .item-page { margin-bottom: 1em; }


/* Article Title */

.blog h2.title, .blog-featured h2.title, .item h2.title, .item-page h2.title { color: #000000;  font-size: 2em; line-height: 1.2em; padding-top: 0.7em;  margin-top: 0; font-family: 'CabinRegular', sans-serif; text-shadow: 0 0 1px #000000; }
.blog h2.title a, .blog-featured h2.title a, .item h2.title a, .item-page h2.title a { color: #000000; text-shadow: 0 0 1px #000000; }
.blog h2.title a:hover, .blog-featured h2.title a:hover, .item h2.title a:hover, .item-page h2.title a:hover { color: #0099FF; text-shadow: 0 0 1px #0099FF; 
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;
}


/* Article Icons */

ul.actions { list-style:none; margin: 20px 0 10px; padding-left: 0; overflow:hidden; }
ul.actions li { float:left; padding-right: 7px; }


/* Article Ratings */

.content_rating { line-height: 18px; display:block; }
.content_vote { line-height: 10px; display:block; }
.content_vote .button { margin: 0 0 0 10px; }


/* Article Details */

dl.article-info { margin: 0 0 1.143em 0; }
dt.article-info-term { display:none; }
dl.article-info dd { margin:0; font-size: 0.8em; color: #999999; }


/* Archived Articles */

.archive { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.archive h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; } 
.archive h2 a { color: #1F1F1F; }
.archive h2 a:hover { color: #0099FF; text-decoration:none; } 
.archive ul { margin:0; padding:0; }
.archive ul li { list-style:none; background-image:none!important; padding-left:0!important; }
.archive legend { padding: 0 10px; font-weight:bold; }
.archive select { padding: 5px; width: 140px; }
.archive fieldset { border: 1px solid #dddddd; margin-bottom: 30px; padding: 0 10px 10px 10px; }
.archive button.button { padding: 0.5em 1em; margin: 1em; font-size: 0.9em; }


/* List Categories */

.categories-list { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.categories-list ul { list-style-type:none; padding-left: 0; margin:0; }
.categories-list li { background: url(../images/system/arrow.png) no-repeat 0 9px; padding-left: 1.4em; line-height: 1.8em; }
.categories-list dl { padding:0; margin:0; }
.categories-list dl dt, .categories-list dl dd { display: inline; }
.categories-list dl dd { font-style: italic; margin-left: 10px; }


/* Category Description */

.cat-children h3 { font-size: 1em; font-weight: bold; margin-top: 0; }
.cat-children ul { padding-left: 0; margin:0; }
.cat-children li { background: url(../images/system/arrow.png) no-repeat 0 9px; padding-left: 1.4em; line-height: 1.8em; }
.cat-children dl { padding:0; margin:0; }
.cat-children dl dt, .cat-children dl dd { display: inline; }
.cat-children dl dd { font-style: italic; margin-left: 10px; }


/* Category List */

.category-list { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.category-list fieldset { padding-left:0; }
.category-list h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }


/* Create Article */

.edit.item-page { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
legend { padding: 0 10px; font-weight:bold; } /* Titles */
.edit form#adminForm fieldset { border: 1px solid #dddddd; margin-top:0; padding: 0 10px 10px 10px; } /* Borders */
.formelm, .formelm-area { margin:15px 0; vertical-align: middle; }
.formelm label, .formelm-area label { display: block; width: 150px; float: left; }
.formelm input, .formelm-area input { padding: 5px; width: 250px; }
.formelm select, .formelm-area select { padding: 5px; width: 262px; }
.formelm img { margin-left:5px; vertical-align: middle; }
#editor-xtd-buttons { margin: 20px 0 20px 0; padding: 0; } /* Buttons */
.button2-left { margin: 0 6px 0 0; }
.button2-left a, .button2-left span { display: block; height: 22px; padding: 0 24px 0 6px; line-height: 22px; font-size: 11px; color: #1F1F1F; }
.formelm-buttons { text-align:right; margin-bottom:10px; }
.formelm-buttons button { padding: 0.5em 1em; margin: 1em 0; font-size: 0.9em; }
.button2-left .readmore a { padding: 0 24px 0 12px; font-size: 11px; margin:0; }


/* News Feeds in a Category */

.newsfeed-category { text-align:justify; display:block; overflow:hidden;  margin-bottom:1em; }
.newsfeed-category h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }
.newsfeed-category h2 a { color: #1F1F1F; }
.newsfeed-category h2 a:hover { color: #0099FF; }
.newsfeed-category fieldset, .newsfeed-category legend { padding-left: 0; }


/* Single News Feed */

.newsfeed.redirect-ltr { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.newsfeed.redirect-ltr h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }
.newsfeed.redirect-ltr h2 a { color: #1F1F1F; }
.newsfeed.redirect-ltr h2 a:hover { color: #0099FF; }


/* Login Form */

.login { text-align:justify; display:block; overflow:hidden; }
.login-fields { margin: 10px 0; }
.login-fields label { display: block; width: 150px; float: left; }
.login-fields input { padding: 5px; width: 250px; }
.login-fields select { padding: 5px; width: 262px; }
.logout { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.logout button.button { margin-top: 0; }
.login button.button { padding: 0.5em 1em; margin: 1em 0; font-size: 0.9em; }
.login ul { padding-left: 0; }
.login li { line-height: 1.5em; }


/* User Profile */

.profile { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.profile legend { font-size: 18px; line-height: 18px; font-weight: normal; margin: 0 0 15px 0; padding:0; }
.profile dt { font-weight:bold; }
.profile dd { margin-left:0; }


/* Edit Your Profile */

.profile-edit { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.profile-edit dd { margin:15px 0; vertical-align: middle; }
.profile-edit legend { padding: 0 10px; font-weight:bold; }
.profile-edit label { display: block; width: 200px; float: left; }
.profile-edit input { padding: 5px; width: 250px; }
.profile-edit select { padding: 5px; width: 262px; }
.profile-edit fieldset { border: 1px solid #dddddd; margin-bottom: 30px; margin-top:0; padding: 0 10px 10px 10px; }
.profile-edit span.optional { font-style:italic; }


/* Registration Form */

.registration { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.registration dd { margin:15px 0; vertical-align: middle; }
.registration legend { padding: 0 10px; font-weight:bold; }
.registration label { display: block; width: 200px; }
.registration input { padding: 5px; width: 250px; }
.registration select { padding: 5px; width: 262px; }
.registration fieldset { border: 1px solid #dddddd; margin-bottom: 30px; margin-top:0; padding: 0 20px 10px; }
#jform_spacer-lbl { width: 300px; display:block; margin-bottom:10px; font-style: italic; }
.registration button.validate { padding: 0.5em 1em; margin: 1em 1em 1em 0; font-size: 0.9em; }


/* Username Reminder */

.remind { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.remind label { display: block; width: 150px; float: left; }
.remind input { padding: 5px; width: 250px; }
.remind fieldset { margin: 20px 0; padding:0; }
.remind dd { margin:15px 0; vertical-align: middle; }
.remind button.validate { padding: 0.5em 1em; margin: 1em 0; font-size: 0.9em; }


/* Password Reset */

.reset { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }
.reset label { display: block; width: 150px; float: left; }
.reset input { padding: 5px; width: 250px; }
.reset fieldset { margin: 20px 0; padding:0; }
.reset dd { margin:15px 0; vertical-align: middle; }
.reset button.validate { padding: 0.5em 1em; margin: 1em 0; font-size: 0.9em; }


/* Wrapper */

#blockrandom { max-width:100%; max-height:100%; margin-top: 1em; margin-bottom: 1em; }


/* Contacts in a Category */

.contact-category { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.contact-category h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }


/* Single Contact */

.contact { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.contact h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }
.contact-category h2 a { color: #1F1F1F; }
.contact-category h2 a:hover { color: #0099FF; }
.contact h3 { font-size: 16px; padding: 7px 0; border-bottom:1px solid #777777; margin:10px 0; }
.contact-image { display:none; }
.contact-street, .contact-suburb, .contact-state, .contact-postcode, .contact-country { display:block; }
.contact address { padding: 0 0 6px 25px; }
.contact img { float:left; }
.contact-telephone, .contact-fax { padding: 0 0 0 10px; font-style: italic; }
.contact-contactinfo p { margin: 5px 0; }
.contact-position { font-weight:bold; margin-bottom:15px; }
.contact-misc { padding: 0 0 0 30px; }
.contact-links ul { padding:0; }
.contact-links ul li { list-style:none; }

.contact-form legend { padding: 0 10px; font-weight:bold; }
.contact-form label { display: block; width: 200px; float: left; }
.contact-form input { padding: 5px; width: 250px; }
.contact-form select { padding: 5px; width: 262px; }
.contact-form fieldset { border: 1px solid #dddddd; margin-bottom: 30px; margin-top:0; padding: 0 10px 10px 10px; }
.contact-form dd { margin:15px 0; vertical-align: middle; }
.contact textarea { margin: 20px 0; }
#jform_contact_email_copy { width: 20px; }


/* Featured Contacts */

.blog-featured table { background-color: #ffffff; }
.blog-featured fieldset, .blog-featured legend { padding-left:0; }


/* Smart Search */

.finder { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.finder label { display: block; width: 200px; }
.finder input { padding: 5px; width: 250px; }
.finder fieldset { background: none; padding-left:0; }
.finder .button { margin-left: 10px; }


/* Search Form */

.search { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.search legend { padding: 0 10px; font-weight:bold; }
.search input { padding: 5px; width: 250px; }
.search .phrases-box input, .search .only input { width:20px; }
.search select { padding: 5px; width: 262px; }
.search fieldset { border: 1px solid #dddddd; margin-bottom: 30px; margin-top:0; padding: 14px 10px; }
.search fieldset.word { border: none; }
.ordering-box { padding-top:10px; }
dt.result-title { font-size: 16px; margin:10px 0 0; }
dd.result-category, dd.result-created { margin: 7px 0; font-style:italic; }
dd.result-text { margin-left: 0; }
.search button.button { padding: 0.5em 1em; margin: 1em; font-size: 0.9em; }


/* Web Links in a Category */

.weblink-category { text-align:justify; display:block; overflow:hidden; margin-bottom:1em; }
.weblink-category h2 { color: #1F1F1F;  font-size: 1.85em; line-height: 2.775em; margin-top: 0; }


/* Submit Web Link */

.edit { text-align:justify; display:block; overflow:hidden; margin-top:1em; margin-bottom:1em; }


/* Pagination */

.pagination { color: #eeeeee; margin:20px 0; padding:10px 0; clear:both; }
.pagination ul { list-style-type:none; margin:0; padding:0; text-align:center; }
.pagination li { background-image:none!important; background-color: #eeeeee!important; color: #1f1f1f; display:inline; padding: 5px 10px!important; text-align:center; margin:0 4px; font-size: 1em; }
.pagination li a:hover,.pagination li a:active { color: #1f1f1f; }
p.counter { text-align:center; color: #1F1F1F; padding-bottom: 10px; margin-bottom: 20px; font-size: 1em; }
.pagenav { padding:2px; clear: both;}


/* Breadcrumbs */

#breadcrumbs { font-size: 0.8em; }
#breadcrumbs .moduletable { margin-bottom: 0; padding:0;  }

.breadcrumbs { overflow: hidden; padding-bottom:10px; }
.breadcrumbs .showHere { margin-left:0; padding-left:0; }
.breadcrumbs a, .breadcrumbs span { padding: 0 7px; margin: 0 5px; }
.breadcrumbs a, .breadcrumbs span { display: inline-block; text-decoration: none; }


/* Date */

.create { }


/* System Messages */

#system-message ul li { font-weight:normal; }
#system-message dd.message  ul { background: #fff  url(../images/system/notice-info.png) no-repeat left center; }
#system-message dd.error ul { background: #fff url(../images/system/notice-alert.png) no-repeat left center ; }
#system-message dd.notice  ul { background: #fff url(../images/system/notice-note.png) no-repeat left center; }


/* Tables */

table { border-collapse: collapse; border-spacing: 0; }
th, td { padding: 1px; }
table.category { font-size:1em; margin:10px 10px 20px 0px; width:99%; }
table.category th, table.category td { border: 1px solid #dddddd; padding:5px 20px; text-align:left; }
table.category td { padding:5px; }
table.category th { padding:5px; text-align:left; }
table.category th a img { padding:2px 10px; }
td.num { vertical-align:top; text-align:left; }
td.hits { vertical-align:top; text-align:center; }
td p { margin:0; line-height:1.3em; }


/* Read More */

.readmore a {  margin: 1.143em 0; display:inline-block; text-decoration:none; font-size: 1em; }
a.readmore:link, a.readmore:visited { line-height:1.2em; text-decoration:none; }
a.readmore:hover, a.readmore:active, a.readmore:focus { text-decoration:none; }
.readmore a:hover, .readmore a:active, .readmore a:focus { text-decoration:none; }

.newsflash  a.readmore:link, .newsflash a.readmore:visited { display:block; margin-top: 2em; margin-bottom: 0.857em; font-size: 1em; }


/* 5.2 Joomla! Modules CSS -------------------------------------------------------------------------------------------------------- */


/* Moduletable */

.moduletable, .moduletable_text, .moduletable_menu { text-align: justify; overflow:hidden; margin-top: 1em; margin-bottom: 1em; }
.moduletable h3, .moduletable_menu h3, .moduletable_text h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif; padding: 12px 22px 10px; margin-top: 0; margin-bottom: 1.6em; text-transform: uppercase; }

.moduletable .custom h3 { color: #1F1F1F; background-color: transparent; border:none; padding: 0; margin-top: 2em; margin-bottom: 0.857em; text-transform:none; font-size: 1.25em; }
.moduletable .bannergroup, .moduletable .random-image, .moduletable .syndicate-module, .moduletable .latestnews, .moduletable ul.mostread, .moduletable .newsflash, .moduletable #blockrandom.wrapper { padding: 0.2em 0; display:block; }
.moduletable_menu ul { padding-bottom: 20px; }


/* Menu */

.moduletable ul { list-style-type:none; padding-left: 0; margin-left:0; margin-right:0; }
.moduletable ul ul, .moduletable ul ul ul, .moduletable ul ul ul ul { margin: 0.7em 0 0; }
.moduletable li { background: url(../images/system/arrow.png) no-repeat 0 7px;  list-style:none; line-height: 1.5em; text-align: left; padding-left: 1.4em; padding-bottom: 7px; } 
#nav .moduletable li { background:none; padding-left: 0; }


/* Button, Input */

button, input, select, textarea { margin:0; font-size:100%; vertical-align:middle; }
button, input { *overflow:visible; line-height:normal; }
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0; }
button,input[type="button"],input[type="reset"],input[type="submit"]{ cursor:pointer; -webkit-appearance:button; }
input[type="search"]{ -webkit-appearance:textfield; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }

button, .button, input.button { background-color: #0099FF; color: #ffffff; border:none; padding: 10px 20px; font-family: 'CabinMedium', sans-serif; text-transform:uppercase; margin-top: 1em; margin-bottom: 1em; 
-webkit-transition: all 400ms linear;
-moz-transition: all 400ms linear;
-o-transition: all 400ms linear;
transition: all 400ms linear;
}
button:hover, .button:hover, input.button:hover { background-color: #1F1F1F; }


/* Search */

.moduletable .search { border: none; padding: 0.2em 0; }
.moduletable .search h1 { background-color: #0099FF; color: #ffffff; font-size: 1em; padding: 7px 20px; margin-top: 0; }
.moduletable .search input { max-width: 170px; width:100%; }
.moduletable .search label { display: none; }
.moduletable .search input.button { width:40px; margin-left:10px; }


/* Smart Search */

.moduletable .finder input { max-width: 170px; width:100%; }


/* News Feeds */

li.newsfeed-item { background: none; padding-left:0; }
ul.newsfeed { margin-bottom:0; }

/* Latest News */

ul.latestnews { margin-bottom: 0; }


/* Articles Most Read */

ul.mostread { margin-bottom:0; }


/* Syndicate News */

.syndicate-module { padding-bottom: 0.4em !important; }


/* Latest Users */

ul.latestusers { margin-bottom:0; }


/* Login */

#login-form fieldset { padding:0; }
#login-form label { width: 170px; float: left; }
#login-form input { padding: 5px; }
#login-form input.button { padding: 10px 20px; }
#form-login-remember label { width:auto; }
input#modlgn-remember.inputbox { margin-left:5px; }
#login-form input.button { padding: 0.5em 1em; margin: 1em 1em 1em 0; font-size: 0.9em; }


/* News Flash */

.newsflash h4 { font-weight:bold; margin-top:0; }


/* Feed Display */

.feed p, .feed h4, h5.feed-link { text-align: left; }
h5.feed-link { line-height: 21px; margin-top:20px; }


/* Articles Category */

ul.category-module h4 { font-size: 1em; line-height: 1.5em; margin:0; padding:0; }


/* Weblinks */

.weblinks p { font-size: 14px; margin:0;}
.weblinks { margin:10px 0; }
.weblinks ul { list-style-type:none; padding-left: 0; margin:0; }
.weblinks li { background: url(../images/system/arrow.png) no-repeat 0 9px; padding-left: 1.4em; line-height: 1.8em; }
table.weblinks { font-size:1em; margin:10px 10px 20px 0px; width:99%; }
table.weblinks td { border-collapse:collapse; }
table.weblinks td { padding:7px; }
table.weblinks th { padding:7px; text-align:left; }


/* Languages */

.mod-languages select { padding: 5px; width:auto; }


/* Statistics */

.stats-module dd { margin-left:0; padding: 0 0 4px 0; }
.stats-module dt { font-weight:bold; background-color: #eeeeee; line-height:2em; }


/* User Menu */

.moduletable_menu ul { list-style-type:none; padding-left: 0; margin:0; }
.moduletable_menu li { background: url(../images/system/arrow.png) no-repeat 0 9px; padding-left: 1.4em; line-height: 1.8em; }


/* 5.3 Module Variations -------------------------------------------------------------------------------------------------------- */


/* Variation 1 */

.moduletable-var1 { margin-top: 1em; margin-bottom: 1em; text-align: justify; overflow:hidden; }
.moduletable-var1 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif; padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; }


/* Variation 2 */

.moduletable-var2 { margin-top: 1em; margin-bottom: 1em; text-align: justify; overflow:hidden; }
.moduletable-var2 h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif; padding: 12px 22px 7px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; border-bottom: 3px solid #000000; }


/* Variation 3 */

.moduletable-var3 { margin-top: 1em; margin-bottom: 1em; text-align: justify; overflow:hidden; }
.moduletable-var3 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif; padding: 12px 22px 7px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; border-bottom: 3px solid #0099FF; }

/* Variation 4 */

.moduletable-var4 { padding-left: 22px; padding-right: 22px; border: 1px solid #e7e7e7; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var4 h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; }


/* Variation 5 */

.moduletable-var5 { padding-left: 22px; padding-right: 22px; border: 1px solid #e7e7e7; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var5 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif; padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; }


/* Variation 6 */

.moduletable-var6 { padding-left: 22px; padding-right: 22px; border: 1px solid #e7e7e7; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var6 h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 7px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #000000; }


/* Variation 7 */

.moduletable-var7 { padding-left: 22px; padding-right: 22px; border: 1px solid #e7e7e7; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var7 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 7px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #0099FF; }


/* Variation 8 */

.moduletable-var8 { background-color: #0099FF; color: #ffffff; padding-left: 22px; padding-right: 22px; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var8 h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #ffffff; }
.moduletable-var8 ul li a { color: #ffffff; }
.moduletable-var8 ul li a:hover { color: #1f1f1f; }


/* Variation 9 */

.moduletable-var9 { background-color: #000000; color: #ffffff; padding-left: 22px; padding-right: 22px; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var9 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #ffffff; }
.moduletable-var9 ul li a:hover { color: #ffffff; }



/* Variation 10 */

.moduletable-var10 { background-color: #0099FF; color: #ffffff; padding-left: 22px; padding-right: 22px; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var10 h3 { background-color: #0099FF; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #000000; }
.moduletable-var10 ul li a { color: #ffffff; }
.moduletable-var10 ul li a:hover { color: #1f1f1f; }


/* Variation 11 */

.moduletable-var11 { background-color: #000000; color: #ffffff; padding-left: 22px; padding-right: 22px; margin-top: 1em; margin-bottom: 2em; text-align: justify; overflow:hidden; }
.moduletable-var11 h3 { background-color: #000000; color: #ffffff; font-size: 1em; font-family: 'CabinMedium', sans-serif;padding: 12px 22px 10px; text-transform: uppercase; margin-top: 0; margin-bottom: 1.6em; margin-left: -22px; margin-right: -22px; border-bottom: 3px solid #0099FF; }
.moduletable-var11 ul li a:hover { color: #ffffff; }


/* Variation 12 */

.moduletable-var12 { margin-top: 1em; margin-bottom: 2.5em; padding-bottom: 1.5em; text-align: justify; overflow:hidden; border-bottom: 1px solid #ccc; }

.moduletable-var12 h3 { color: #000000; font-size: 2em; line-height: 1.2em; padding-top: 0.7em; font-family: 'CabinMedium', sans-serif; text-transform: uppercase; margin-top: 0; text-shadow: 0 0 1px black; }


/* Variation 13 */

.moduletable-var13 { margin-top: 1em; margin-bottom:  2.5em; padding-bottom: 1.5em; text-align: justify; overflow:hidden; border-bottom: 1px solid #ccc; }
.moduletable-var13 h3 { color: #0099FF; font-size: 2em; line-height: 1.2em; padding-top: 0.7em; font-family: 'CabinMedium', sans-serif; text-transform: uppercase; margin-top: 0; text-shadow: 0 0 1px #0099FF; }


/* Variation 14 */

.moduletable-var14 { margin-top: 1em; margin-bottom: 2.5em; padding-bottom: 1.5em; text-align: justify; overflow:hidden; border-bottom: 1px solid #ccc; }
.moduletable-var14 h3 { color: #000000; font-size: 2em; line-height: 1.2em; padding-top: 0.7em; font-family: 'CabinMedium', sans-serif; margin-top: 0; text-shadow: 0 0 1px black; }


/* Variation 15 */

.moduletable-var15 { margin-top: 1em; margin-bottom: 2.5em; padding-bottom: 1.5em; text-align: justify; overflow:hidden; border-bottom: 1px solid #ccc; }
.moduletable-var15 h3 { color: #0099FF; font-size: 2em; line-height: 1.2em; padding-top: 0.7em; font-family: 'CabinMedium', sans-serif; margin-top: 0; text-shadow: 0 0 1px #0099FF; }


/* Lists */

.moduletable-var1 ul, .moduletable-var2 ul, .moduletable-var3 ul, .moduletable-var4 ul, .moduletable-var5 ul, .moduletable-var6 ul, .moduletable-var7 ul, .moduletable-var8 ul, .moduletable-var9 ul, .moduletable-var10 ul, .moduletable-var11 ul, .moduletable-var12 ul, .moduletable-var13 ul, .moduletable-var14 ul, .moduletable-var15 ul { list-style-type:none; padding-left: 0; margin-left:0; margin-right:0; }
.moduletable-var1 ul ul, .moduletable-var1 ul ul ul, .moduletable-var1 ul ul ul ul, .moduletable-var2 ul ul, .moduletable-var2 ul ul ul, .moduletable-var2 ul ul ul ul,.moduletable-var3 ul ul, .moduletable-var3 ul ul ul, .moduletable-var3 ul ul ul ul, .moduletable-var4 ul ul, .moduletable-var4 ul ul ul, .moduletable-var4 ul ul ul ul, .moduletable-var5 ul ul, .moduletable-var5 ul ul ul, .moduletable-var5 ul ul ul ul,.moduletable-var6 ul ul, .moduletable-var6 ul ul ul, .moduletable-var6 ul ul ul ul, .moduletable-var7 ul ul, .moduletable-var7 ul ul ul, .moduletable-var7 ul ul ul ul, .moduletable-var8 ul ul, .moduletable-var8 ul ul ul, .moduletable-var8 ul ul ul ul, .moduletable-var9 ul ul, .moduletable-var9 ul ul ul, .moduletable-var9 ul ul ul ul,.moduletable-var10 ul ul, .moduletable-var10 ul ul ul, .moduletable-var10 ul ul ul ul, .moduletable-var11 ul ul, .moduletable-var11 ul ul ul, .moduletable-var11 ul ul ul ul, .moduletable-var12 ul ul, .moduletable-var12 ul ul ul, .moduletable-var12 ul ul ul ul, .moduletable-var13 ul ul, .moduletable-var13 ul ul ul, .moduletable-var13 ul ul ul ul, .moduletable-var14 ul ul, .moduletable-var14 ul ul ul, .moduletable-var14 ul ul ul ul, .moduletable-var15 ul ul, .moduletable-var15 ul ul ul, .moduletable-var15 ul ul ul ul { margin: 0.7em 0 0; }
.moduletable-var1 li, .moduletable-var2 li, .moduletable-var3 li, .moduletable-var4 li, .moduletable-var5 li, .moduletable-var6 li, .moduletable-var7 li, .moduletable-var8 li, .moduletable-var9 li, .moduletable-var10 li, .moduletable-var11 li, .moduletable-var12 li, .moduletable-var13 li, .moduletable-var14 li, .moduletable-var15 li { background: url(../images/system/arrow.png) no-repeat 0 7px;  list-style:none; line-height: 1.5em; text-align: left; padding-left: 1.4em; padding-bottom: 7px; } 


/* Custom */

.moduletable-var1 .custom-var1 h3, .moduletable-var2 .custom-var2 h3, .moduletable-var3 .custom-var3 h3, .moduletable-var12 .custom-var12 h3, .moduletable-var13 .custom-var13 h3, .moduletable-var14 .custom-var14 h3, .moduletable-var15 .custom-var15 h3 { font-size: 1.25em; line-height: 1.5em; margin-top: 2em; margin-bottom: 0.857em; text-transform: none; text-shadow: none; padding-top: 0; padding-left: 0; border:none; }
.moduletable-var4 .custom-var4 h3, .moduletable-var5 .custom-var5 h3, .moduletable-var6 .custom-var6 h3, .moduletable-var7 .custom-var7 h3, .moduletable-var8 .custom-var8 h3, .moduletable-var9 .custom-var9 h3, .moduletable-var10 .custom-var10 h3, .moduletable-var11 .custom-var11 h3 { font-size: 1.25em; line-height: 1.5em; margin-top: 2em; margin-bottom: 0.857em; text-transform: none; text-shadow: none; padding: 0 0 0 22px; border:none; }
.moduletable-var1 .custom-var1 h3, .moduletable-var2 .custom-var2 h3, .moduletable-var3 .custom-var3 h3, .moduletable-var4 .custom-var4 h3, .moduletable-var5 .custom-var5 h3, .moduletable-var6 .custom-var6 h3, .moduletable-var7 .custom-var7 h3, .moduletable-var12 .custom-var12 h3, .moduletable-var13 .custom-var13 h3, .moduletable-var14 .custom-var14 h3, .moduletable-var15 .custom-var15 h3 { color: #444444; background-color: transparent; }
.moduletable-var8 .custom-var8 h3, .moduletable-var9 .custom-var9 h3, .moduletable-var10 .custom-var10 h3, .moduletable-var11 .custom-var11 h3 { color: #ffffff; background-color: transparent; }



/* 5.4 Component -------------------------------------------------------------------------------------------------------- */

#componentPage { margin-top:40px; }


/* 5.5 Error -------------------------------------------------------------------------------------------------------- */

#error { margin-top:40px; }
#errorTitle h2 { font-size: 36px; line-height: 46px; margin:20px 0 40px; color: #1F1F1F; }
#errorBox ul { list-style-type:none; padding-left: 0; margin:0; }
#errorBox ul li { padding: 0; margin:20px 0; }
#errorBox li a { background-color: #1F1F1F; color: #ffffff; padding: 7px 10px; }


/* 5.6 Print -------------------------------------------------------------------------------------------------------- */

#componentPage { background: #ffffff!important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
#componentPage h2 { background: #ffffff !important; color: black !important; padding: 0; border-left:0; margin:0; font-size:30px; line-height:45px; padding-top:30px; }
#componentPage h2 a { color: black !important; }
#componentPage .item-page { border:none !important; }



/* 6. TYPOGRAPHY 
--------------------------------------------------------------------------------------------------------------------- */


/* 6.1 Blockquote --------------------------------------------------------------------------------------------------- */

blockquote { background: url(../images/quotes.png) no-repeat 0 16px; padding: 10px 20px 10px 86px; font-family: 'CrimsonItalic', Times, serif; font-size: 1.3em; line-height: 1.3em; }
q:before,q:after,blockquote:before,blockquote:after { content:""; }


/* 6.2 Pre, Code --------------------------------------------------------------------------------------------------- */

code, pre { padding: 9px; margin: 10px 0; line-height:18px; font-family:Menlo,Monaco,"Courier New",monospace; font-size:12px;  }
code { color:#d14; background-color:#f7f7f9; border:1px solid #e1e1e8; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
pre { display:block; background-color:#f5f5f5; color:#333333; border:1px solid #ccc; border:1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; white-space:pre; white-space:pre-wrap; word-break:break-all; word-wrap:break-word; }


/* 6.3 Drop Caps --------------------------------------------------------------------------------------------------- */

p.dropcap:first-letter { font-size: 5em; line-height: 0.9em; float :left; font-family:'CrimsonRoman', Times, serif; padding-right: 0.3em; }


/* 6.4 Inline Labels --------------------------------------------------------------------------------------------------- */

span.label-red, span.label-blue, span.label-green, span.label-grey, span.label-orange { padding:2px 6px; font-size:14px; color:#fff; color:#ffffff; }

span.label-red { background-color:#ff4444; }
span.label-red:hover { background-color:#cc0000; }

span.label-blue { background-color:#0192c9; }
span.label-blue:hover { background-color:#016d96; }

span.label-green { background-color:#65a23a; }
span.label-green:hover { background-color:#467028; }

span.label-orange { background-color:#f89406; }
span.label-orange:hover { background-color:#d78005; }

span.label-grey { background-color: #444444; }
span.label-grey:hover { background-color: #1F1F1F; }


/* 6.5 List Icons --------------------------------------------------------------------------------------------------- */

ul.list-arrow, ul.list-check, ul.list-plus, ul.list-line { list-style-type:none; padding-left: 0; margin: 1.143em 0; }
ul.list-check li, ul.list-plus li, ul.list-line li  { padding-left: 1.6em; line-height: 1.8em; }
ul.list-arrow li { background: url(../images/icons/list-arrow.png) no-repeat 0 10px; padding-left: 1em; line-height: 1.8em; }
ul.list-check li { background: url(../images/icons/list-check.png) no-repeat 0 6px; }
ul.list-plus li { background: url(../images/icons/list-plus.png) no-repeat 0 8px; }
ul.list-line li { background: url(../images/icons/list-line.png) no-repeat 0 8px; }


/* 6.6 Box Icons --------------------------------------------------------------------------------------------------- */

.simple-box, .info-box, .success-box, .warning-box, .error-box { padding:8px 35px 8px 14px; margin: 15px 0; }

.simple-box { background-color: #eeeeee; border: 1px solid #e7e7e7; color: #777; }
.info-box { background-color: #D9EDF7; border: 1px solid #BCE8F1; color: #3A87AD; }
.success-box { background-color:#dff0d8;border-color:#d6e9c6; color:#468847; }
.warning-box { background-color:#fcf8e3; border: 1px solid #fbeed5; color:#c09853; }
.error-box { background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; }


/* 6.7 Buttons --------------------------------------------------------------------------------------------------- */


/* Default Button */


.btn {display:inline-block;text-align:center;vertical-align:middle;}
.btn:first-child{*margin-left:0;}
.btn:hover{text-decoration:none;background-position:0 -15px}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
.btn.active,.btn:active{ background-image:none; }


/* Button Warning */

.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{ color:#ffffff;}

.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-dark.active{color:rgba(255, 255, 255, 0.75);}

.btn-warning{background-color:#f89406;}
.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#d78005;}


/* Button Danger */

.btn-danger{background-color:#ff4444;}
.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#cc0000;}


/* Button Success */

.btn-success{background-color:#65a23a;}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#467028;}


/* Button Info */

.btn-info{background-color:#0192c9;}
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#016d96;}


/* Button Inverse */

.btn-inverse{background-color:#444444;}
.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{background-color: #1F1F1F;}


/* 6.8 Bubbles --------------------------------------------------------------------------------------------------- */


/* Bubble Red */

.bubble-red { position:relative; padding:15px; margin: 10px 0; color: #1F1F1F; background-color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; border:3px solid #f44; }
.bubble-red:after { content:""; display:block; position:absolute; bottom:-15px; left:50px; width:0; border-width:15px 15px 0; border-style:solid; border-color:#f44 transparent;}


/* Bubble Blue */

.bubble-blue { position:relative; padding:15px; margin: 10px 0; color: #1F1F1F; background-color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; border:3px solid #0c82c5; }
.bubble-blue:after { content:""; display:block; position:absolute; bottom:-15px; left:50px; width:0; border-width:15px 15px 0; border-style:solid; border-color:#0c82c5 transparent;} 


/* Bubble Green */

.bubble-green { position:relative; padding:15px; margin: 10px 0; color: #1F1F1F; background-color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; border:3px solid #9bbb04; }
.bubble-green:after { content:""; display:block; position:absolute; bottom:-15px; left:50px; width:0; border-width:15px 15px 0; border-style:solid; border-color:#9bbb04 transparent;}


/* Bubble Grey */

.bubble-grey { position:relative; padding:15px; margin: 10px 0; color: #1F1F1F; background-color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; border:3px solid #ccc; }
.bubble-grey:after { content:""; display:block; position:absolute; bottom:-15px; left:50px; width:0; border-width:15px 15px 0; border-style:solid; border-color:#ccc transparent;} 


/* Bubble Orange */

.bubble-orange { position:relative; padding:15px; margin: 10px 0; color: #1F1F1F; background-color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; border:3px solid orange; }
.bubble-orange:after { content:""; display:block; position:absolute; bottom:-15px; left:50px; width:0; border-width:15px 15px 0; border-style:solid; border-color:orange transparent;}  


/* 6.9 Image Styles --------------------------------------------------------------------------------------------------- */


.img-right, .img-left, .img-rounded { vertical-align: middle; max-width:100%; height:auto; -ms-interpolation-mode:bicubic; }


/* Image Right */

.img-right { float:right; margin: 10px 0 10px 50px; }


/* Image Left */

.img-left { float:left; margin: 10px 50px 10px 0; }


/* Image Rounded */

.img-rounded { 
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px; 
}


/* Image Circle */

.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}


/* Image Polaroid */

.img-polaroid {
padding: 4px;
background-color: white;
border: 1px solid #CCC;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}


/* Image Border */

.img-border { padding: 0.5em; background-color: #dddddd; }


/* Image Shadow */

.img-shadow { 
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 1);  
}


