<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Gecos Immobliare</title>
	<atom:link href="http://www.gecosimmobiliare.com/index.php/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.gecosimmobiliare.com</link>
	<description>Un nuovo sito targato WordPress</description>
	<lastBuildDate>Mon, 11 Apr 2016 12:55:16 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.8</generator>
	<item>
		<title>Comment on Ciao mondo! by Mr WordPress</title>
		<link>http://www.gecosimmobiliare.com/index.php/2016/04/11/ciao-mondo/#comment-1</link>
		<dc:creator><![CDATA[Mr WordPress]]></dc:creator>
		<pubDate>Mon, 11 Apr 2016 12:55:16 +0000</pubDate>
		<guid isPermaLink="false">http://www.gecosimmobiliare.com/?p=1#comment-1</guid>
		<description><![CDATA[Ciao, questo è un commento.
Per cancellare un commento effettua la login e visualizza i commenti agli articoli. Lì troverai le opzioni per modificarli o cancellarli.]]></description>
		<content:encoded><![CDATA[<p>Ciao, questo è un commento.<br />
Per cancellare un commento effettua la login e visualizza i commenti agli articoli. Lì troverai le opzioni per modificarli o cancellarli.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
