/*-----------------------------------
GLOBAL STYLES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Fonts
------------------------------------*/

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, blockquote, .img-slider { font-family: "adelle-1","adelle-2", Times, serif; }

/*-----------------------------------
Page Structure and Layout
------------------------------------*/

html { -webkit-text-size-adjust: none; }

body { background: #fff; }

nav, footer {
  background: #eee;
  border-bottom:1px solid #b0b0b0;
  border-top:1px solid #b0b0b0;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,.1);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,.1);
}

section, #hero, .container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 10px 20px;
  position: relative;
}

/* multiple pages use the city landscape, so global */
#city {
  background: url(/assets/img/hero/hero-city.png) repeat-x 70% 100%;
  height: 227px;
  margin-top: -66px;
}

/*-----------------------------------
Content Style Guide
------------------------------------*/

em { font-style: italic; }

a {
  color: #2ca5e1;
  text-decoration: none;
}

section header {
  border-top: 1px solid #b0b0b0;
  margin: 90px 0 0;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  color: #484848;
  font-weight: 300;
  margin: 15px 0 10px;
}

h1 {
  float: left;
  font-size: 72px;
  letter-spacing:-1px;
  line-height: 1;
  margin: 70px 0 60px;
  width: 56%;
}

h2 {
  background: #fff;
  display: inline-block;
  font-size: 35px;
  padding: 0 15px;
  position: relative;
  top: -34px;
}

h3 { font-size: 25px; }
h3 a { color: #484848; }
h3 a:hover { color: #888; }
h4 { font-size: 22px; }

h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, a.btn span, blockquote span, address span {
  font-weight: 700;
}

p, ul, dl, ol, address {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  margin: 10px 0 15px;
}

p a:hover { text-decoration: underline; }

blockquote {
  color: #999;
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  line-height: 35px;
  margin: 0 auto 60px;
  text-align: center;
  width: 80%;
}

.btn {
  background-color: #005fc0;
  background-image: url(gradient-btn.gif);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#108ed9), to(#005fc0));
  background-image: -webkit-linear-gradient(top, #108ed9, #005fc0);
  background-image:    -moz-linear-gradient(top, #108ed9, #005fc0);
  background-position: 0 0;
  background-repeat: repeat-x;
  border: 1px solid #00539d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 20px 0;
  padding: 9px 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.btn:hover { background-image: none; }

.footnote {
  font-size: 13px;
  margin: 0;
  text-align: right;
}

/*-----------------------------------
Navigation
------------------------------------*/

nav {
  border-top: none;
  text-align: right;
}

nav a {
  color: #606060;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  margin: 12px 0 0 25px;
  text-shadow: 1px 1px 0 rgba(255,255,255,.9);
}

nav a:hover { color: #8b8b8b; }

#nav-logo {
  background: url(nav-meltmedia-logo.png) no-repeat 0 0;
  -webkit-background-size: 40px auto;
  -moz-background-size: 40px auto;
  background-size: 40px auto;
  display: block;
  float: left;
  height: 40px;
  margin: 0;
  text-align: left;
  text-indent: -9999em;
  width: 40px;
}

#nav-logo:hover { opacity: .8; }

/*-----------------------------------
Hero Space and Campaign Imagery
------------------------------------*/

#hero-logo {
  display: block;
  position: absolute;
  right: 15px;
  top: 40px;
  width: 250px;
  z-index: 1;
}

.skyline {
  border-bottom:1px solid #b0b0b0;
  position: relative;
  width: 100%;
  z-index: 3;
}

/*-----------------------------------
Image sliders
------------------------------------*/

.rslides {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.img-slider {
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.4);
  box-shadow: 0 0 4px rgba(0,0,0,.4);
}

.rslides li {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rslides li:first-child {
  display: block;
  float: left;
  position: relative;
}

.img-slider img {
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.img-slider li span {
  background: rgba(0,0,0,.7);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 23px;
  padding: 20px 20px 10px;
  position: absolute;
  width: 100%;
}

.rslides_tabs {
  margin-bottom: 0;
  text-align: center;
}

.rslides_tabs li {
  display: inline-block;
  margin: 0 4px;
}

.rslides_tabs li a {
  background: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.4);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.4);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,.4);
  display: inline-block;
  height: 15px;
  text-indent: -9999em;
  width: 15px;
}

.rslides_tabs li.rslides_here a { background: #97c0e6; }

.slider { position: relative; }

.slider .rslides_nav {
  background: rgba(0,0,0,.6) url(slider-arrows.png) no-repeat 12px 10px;
  -webkit-background-size: auto 35px;
  -moz-background-size: auto 35px;
  background-size: auto 35px;
  display: block;
  height: 55px;
  position: absolute;
  text-indent: -9999em;
  top: 40%;
  width: 45px;
}

.slider .prev { left: 0; }

.slider .next {
  background-position: -30px 10px;
  right: 0;
}


/*-----------------------------------
Icons for Facts, Perks, etc.
------------------------------------*/

/* Images should be 90x90; Please resize for IE -- see ie8.css */

.baseball { background: url(/assets/img/icons/icon-baseball.jpg) no-repeat; }
.beer { background: url(icon-beer.jpg) no-repeat; }
.bike { background: url(icon-bike.jpg) no-repeat; }
.bird { background: url(icon-bird.jpg) no-repeat; }
.bone { background: url(icon-bone.jpg) no-repeat; }
.book { background: url(icon-book.jpg) no-repeat; }
.bulb { background: url(icon-bulb.jpg) no-repeat; }
.calendar { background: url(icon-calendar.jpg) no-repeat; }
.chat { background: url(icon-chat.jpg) no-repeat; }
.clock { background: url(icon-clock.jpg) no-repeat; }
.code { background: url(icon-code.jpg) no-repeat; }
.coffee { background: url(icon-coffee.jpg) no-repeat; }
.contacts { background: url(icon-contacts.jpg) no-repeat; }
.crop { background: url(icon-crop.jpg) no-repeat; }
.eat { background: url(icon-eat.jpg) no-repeat; }
.gift { background: url(icon-gift.jpg) no-repeat; }
.headphones { background: url(icon-headphones.jpg) no-repeat; }
.home { background: url(icon-home.jpg) no-repeat; }
.ipad { background: url(icon-ipad.jpg) no-repeat; }
.labs { background: url(icon-labs.jpg) no-repeat; }
.mail { background: url(icon-mail.jpg) no-repeat; }
.map { background: url(icon-map.jpg) no-repeat; }
.marker { background: url(icon-marker.jpg) no-repeat; }
.mouse { background: url(icon-mouse.jpg) no-repeat; }
.peep { background: url(icon-peep.jpg) no-repeat; }
.peeps { background: url(icon-peeps.jpg) no-repeat; }
.phone { background: url(icon-phone.jpg) no-repeat; }
.photo { background: url(icon-photo.jpg) no-repeat; }
.ribbon { background: url(icon-ribbon.jpg) no-repeat; }
.sun { background: url(icon-sun.jpg) no-repeat; }
.tree { background: url(icon-tree.jpg) no-repeat; }
.tv { background: url(icon-tv.jpg) no-repeat; }
.venn { background: url(icon-venn.jpg) no-repeat; }

/*-----------------------------------
Footer
------------------------------------*/

footer {
  margin-top: 80px;
  padding-bottom: 20px;
}

footer address, footer a {
  color: #7e7e7e;
  display: inline;
  font-size: 13px;
  font-style: italic;
  line-height: 16px;
}

footer a:hover { text-decoration: underline; }

footer address:after { content: " - "; }

#social {
  float: right;
  margin-top: 0;
}

#social li { display: inline-block; }

#social li a {
  background: url(/assets/img/icons-social.png) no-repeat 0 0;
  -webkit-background-size: 122px auto;
  -moz-background-size: 122px auto;
  background-size: 122px auto;
  display: block;
  height: 41px;
  text-indent: -9999em;
  width: 41px;
}

#social li a:hover { opacity: .8; }

#social #flickr { background-position: -41px 0; }
#social #vimeo { background-position: -82px 0; }

/*-----------------------------------
Clearfix
------------------------------------*/

.clearfix:after, section:after, header:after, footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*-----------------------------------
Global Media Queries
------------------------------------*/

/*********************************/
/* --- Max Screen 1000px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 1000px) {

  h1 {
    font-size: 52px;
    margin: 50px 0 20px;
    width: 53%;
  }

  h2 { font-size: 28px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  p, ul { font-size: 15px;}

  blockquote {
    font-size: 19px;
    line-height: 31px;
  }

  #hero-logo {
    top: 25px;
    width: 180px;
  }

  #city { margin-top: -50px; }

  .img-slider li span {
    font-size: 19px;
    padding: 10px 10px 5px;
  }

} /* end 1000px wide */

/*********************************/
/* --- Max Screen 775px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 775px) {

  section header { margin-top: 60px;}

} /* end 775px wide */

/*********************************/
/* --- Max Screen 750px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 750px) {

  #hero-logo {
    top: 35px;
    width: 120px;
  }

  #city { margin-top: -40px; }

  h1 {
    font-size: 43px;
    margin-top: 40px;
    width: 65%;
  }
} /* end 750px wide */

/*********************************/
/* --- Max Screen 580px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 580px) {

  section, #hero, footer, .container {
    padding: 10px 15px;
  }

  h1 { font-size: 40px; }

  blockquote {
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 40px;
    width: 95%;
  }

  nav a {
    font-size: 13px;
    margin-left: 15px;
  }

  #city {
    background-position: -7% 100%;
    margin-top: -100px;
  }

  .img-slider li span { font-size: 16px; }

  footer { text-align: center; }
  #social { float: none; }

} /* end 580px wide */

/*********************************/
/* --- Max Screen 500px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 500px) {

  .img-slider li span {
  display: none;
  }

} /* end 500px wide */

/*********************************/
/* --- Max Screen 450px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 460px) {

  h1 {
    font-size: 35px;
    width: 75%;
  }

  h2 {
    font-size: 24px;
    top: -29px;
  }

  #hero-logo {
    top: 50px;
    width: 80px;
  }

  .img-slider li span { font-size: 14px; }

} /* end 450px wide */

/*********************************/
/* --- Max Screen 400px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 400px) {

  h1 { width: 70%; }

  nav section { padding: 10px 12px; }

  #nav-logo {
    float: none;
    margin: 0 auto;
  }

  nav { text-align: center; }
  nav a:nth-child(2) { margin-left: 0; }
  nav a { margin-left: 10px; }

  #hero-logo { width: 70px; }

  #city {
    background-position: 0 100%;
    margin-top: -100px;
}

} /* end 400px wide */
