/*-----------------------------------
SPLASH (HOME) PAGE STYLES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Hero Space and Campaign Imagery
------------------------------------*/

h1 {
  line-height: 1.2;
  padding-bottom: 35px;
  width: 70%;
}

#hero {
  background: url(hero-superhero1-up.png) no-repeat 30% 200px;
  
}

#city {
  background: url(hero-city.png) repeat-x 40% 100%;
  height: 247px;
  margin-top: -70px;
}

/*-----------------------------------
Work Slider
------------------------------------*/

.slider { margin: 40px 0 30px; }

.work-slider li { background-color: #fff; }

.work-slider h3 {
  font-size: 26px;
  line-height: 30px;
}

.work-slider blockquote {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 30px;
  text-align: left;
  width: 100%;
}

.work-slider div {
  padding-top: 50px;
  width: 30%;
}

.work-slider img {
  display: block;
  width: 49%;
}

.img-left div, .img-left img { float: left; }
.img-right div, .img-right img { float: right; }
.img-left img, .img-right div { margin: 0 5% 0 8%; }
.img-right img, .img-left div { margin-right: 8%; }

.work-slider .btn { width: 150px; }

.splash .slider .rslides_nav {
  background-color: rgba(255,255,255,.7);
  background-image:url(slider-arrows-grey.png);
}

.splash .slider .prev { left: -20px; }
.splash .slider .next { right: -20px; }

/*-----------------------------------
We Solve Problems section
------------------------------------*/

.col-four { margin-top: 20px; }

.col-four div {
  float: left;
  width: 25%;
}

#solve-problems { text-align: center; }
#solve-problems img { width: 42%; }

#solve-problems h3, #solve-problems p {
  margin-left: 30px;
  margin-right: 30px;
}

/*-----------------------------------
Media Queries
------------------------------------*/

/*********************************/
/* --- Max Screen 1000px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 1000px) {


  h1 { padding-bottom: 60px; }
  #hero { background-position: 30% 150px; }

  .slider { margin: 20px 0 10px; }

  .work-slider h3 {
    font-size: 23px;
    line-height: 27px;
  }

  .work-slider blockquote {
    font-size: 18px;
    line-height: 25px;
  }

  #solve-problems h3, #solve-problems p {
    margin-left: 15px;
    margin-right: 15px;
  }

} /* end 1000px wide */

/*********************************/
/* --- Max Screen 775px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 775px) {

  .work-slider div { padding-top: 20px; }

  .col-four div { width: 50%; }
  .col-four div:first-child, .col-four div:nth-child(2n) { margin-bottom: 30px; }
  #solve-problems img { width: 30%; }

} /* end 775px wide */

/*********************************/
/* --- Max Screen 750px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 750px) {

  h1 { padding-bottom: 0; }
  #hero { background: none; }
  #city {
    background-position: 10% 100%;
    margin-top: -80px;
  }

} /* end 750px wide */

/*********************************/
/* --- Max Screen 680px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 680px) {

  .work-slider div, .work-slider blockquote { text-align: center; }
  .work-slider .btn { margin: 0 auto; }

  .work-slider div { width: 76%; }
  .work-slider img { width: 76%; }

  .img-left div, .img-left img, .img-right div, .img-right img { float: none; }
  .img-right img, .img-left img, .img-right div, .img-left div { margin: 0 auto; }

} /* end 680px wide */

/*********************************/
/* --- Max Screen 580px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 580px) {

  h1 span { display: block; }

  #city {
    background-position: 60% 100%;
    margin-top: -70px;
  }

  .splash .slider .rslides_nav { top: 110px; }
  .splash .slider .prev { left: -15px; }
  .splash .slider .next { right: -15px; }

  .col-four div { margin-bottom: 25px; }

  #solve-problems h3, #solve-problems p {
    margin-left: 10px;
    margin-right: 10px;
  }

} /* end 580px wide */

/*********************************/
/* --- Max Screen 460px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 460px) {

  .slider .rslides_nav { top: 80px; }
  .work-slider img, .work-slider div { width: 90%; }

  .col-four div { width: 100%; }
  #solve-problems img { width: 25%; }

} /* end 460px wide */

/*********************************/
/* --- Max Screen 400px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 400px) {

  #city {
    background-position: 35% 100%;
    margin-top: -140px;
  }

  .slider { margin: 0; }

} /* end 400px wide */
