<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Gecos Immobliare</title>
	<atom:link href="http://www.gecosimmobiliare.com/index.php/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.gecosimmobiliare.com</link>
	<description>Un nuovo sito targato WordPress</description>
	<lastBuildDate>Thu, 25 Aug 2016 12:26:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.8</generator>
	<item>
		<title>Ciao mondo!</title>
		<link>http://www.gecosimmobiliare.com/index.php/2016/04/11/ciao-mondo/</link>
		<comments>http://www.gecosimmobiliare.com/index.php/2016/04/11/ciao-mondo/#comments</comments>
		<pubDate>Mon, 11 Apr 2016 12:55:16 +0000</pubDate>
		<dc:creator><![CDATA[sebadima]]></dc:creator>
				<category><![CDATA[Senza categoria]]></category>

		<guid isPermaLink="false">http://www.gecosimmobiliare.com/?p=1</guid>
		<description><![CDATA[Benvenuto in WordPress. Questo è il tuo primo articolo. Modificalo o cancellalo e inizia a creare il tuo blog!]]></description>
				<content:encoded><![CDATA[<p>Benvenuto in WordPress. Questo è il tuo primo articolo. Modificalo o cancellalo e inizia a creare il tuo blog!</p>
]]></content:encoded>
			<wfw:commentRss>http://www.gecosimmobiliare.com/index.php/2016/04/11/ciao-mondo/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
