/*-----------------------------------
PRINT STYLES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Content Style Guide
------------------------------------*/

em { font-style: italic; }

a { color: #444; }

section header {
  border-top: none;
  margin: 5px 0 0;
  text-align: left;
}

h1 { display: none; }

h2 {
  display: block;
  font-size: 20px;
  position: static;
  padding: 5px 0 0;
}

h3 { font-size: 18px; }
h4 { font-size: 16px; }

p, ul, dl, ol, address {
  color: #444;
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  font-size: 16px;
  line-height: 20px;
  margin: 10px auto;
  text-align: left;
  width: 100%;
}

.btn { display: none; }

/*-----------------------------------
Navigation
------------------------------------*/

nav { display: none; }

/*-----------------------------------
Hero Space and Campaign Imagery
------------------------------------*/

#hero {
  background: none;
  text-align: center;
}

#hero-logo {
  float: none;
  margin: 15px auto 0;
  position: static;
  width: 70px;
}

.skyline, #melt-flag { display: none; }

/*-----------------------------------
Image sliders
------------------------------------*/

.rslides, .rslides_tabs, .slider { display: none; }

/*-----------------------------------
Specific Page Content
------------------------------------*/

.project h1 {
  display: block;
  float: none;
  font-size: 24px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.tags { text-align: left; }
.tags li { padding: 0; }

.case-study {
  margin-top: 40px;
  padding-top: 50px;
}

.partner { margin-top: 20px; }

.partner h3 a span, .meltmedian h3 a span { padding-right: 0; }
.meltmedian h3, .meltmedian p { font-size: 14px; }

#numbers li span {
  font-size: 30px;
  height: auto;
  padding-left: 0;
}

#careers .footnote,
#careers .col-two {
  display: none;
}

#careers .col-one {
  margin-right: 0;
  width: 100%;
}

#perks ul li {
  float: none;
  margin: 5px 0;
  width: 100%;
}

#perks ul li span {
  background: none;
  padding-top: 0;
  text-align: left;
}

#contact .col-one, 
#contact #map,
#contact-social {
  display: none;
}

#contact .col-two a { color: #444; }

#contact .col-two section div {
  background: none;
  padding-left: 0;
}

/*-----------------------------------
Footer
------------------------------------*/

footer {
  background: none;
  border-bottom: none;
  border-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 30px;
  padding-bottom: 10px;
}

footer section {
  border-top: 1px solid #ddd;
}

#social { display: none; }