@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: local('Amaranth'), url(http://fonts.gstatic.com/s/amaranth/v6/RvdVaxHTnYbJDko8dLi4zvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 700;
  src: local('Amaranth Bold'), local('Amaranth-Bold'), url(http://fonts.gstatic.com/s/amaranth/v6/hh4Od9pccylRpuf5LUPgEobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  font-weight: 400;
  src: local('Amaranth Italic'), local('Amaranth-Italic'), url(http://fonts.gstatic.com/s/amaranth/v6/J0IatWFySU8P-ir89pUoJBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  font-weight: 700;
  src: local('Amaranth Bold Italic'), local('Amaranth-BoldItalic'), url(http://fonts.gstatic.com/s/amaranth/v6/BHyuYFj9nqLFNvOvGh0xTwFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
