@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 300;
  src: local('Flamenco Light'), local('Flamenco-Light'), url(http://fonts.gstatic.com/s/flamenco/v6/g1FaNDzBWfWXCtcQ8FcMbIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  src: local('Flamenco'), local('Flamenco-Regular'), url(http://fonts.gstatic.com/s/flamenco/v6/Ih-SipknQN9xiiZItSGWE_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
