@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 300;
  src: local('Kalam Light'), local('Kalam-Light'), url(http://fonts.gstatic.com/s/kalam/v6/QylgPSjDydA7-sWvyWlYKfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(http://fonts.gstatic.com/s/kalam/v6/90dVhmNmR8HPTvtUmM5aQg.woff) format('woff');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(http://fonts.gstatic.com/s/kalam/v6/Qn-5-6XRdB09P8vdnMkOE_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
