.mce-container,.mce-container *,.mce-widget,.mce-widget *{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:transparent;text-decoration:none;color:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;text-shadow:none;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:normal;text-align:left}
.mce-container *[unselectable]{-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}
.mce-container ::-webkit-scrollbar{width:8px;height:8px;-webkit-border-radius:4px}
.mce-container ::-webkit-scrollbar-track,.mce-container ::-webkit-scrollbar-track-piece{background-color:transparent}
.mce-container ::-webkit-scrollbar-thumb{background-color:rgba(53,57,71,0.3);width:6px;height:6px;-webkit-border-radius:4px}
.mce-fade{opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear}
.mce-fade.mce-in{opacity:1}
.mce-tinymce{visibility:visible!important;position:relative}
.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;background:#FFF;height:100%;z-index:100}
div.mce-fullscreen{position:fixed;top:0;left:0;width:100%;height:auto}
.mce-tinymce{display:block;border-radius:2px}
.mce-wordcount{position:absolute;top:0;right:0;padding:8px}
.mce-edit-area{background:#FFF;filter:none}
.mce-statusbar{position:relative}
.mce-statusbar .mce-container-body{position:relative}
.mce-fullscreen .mce-resizehandle{display:none}
.mce-charmap{border-collapse:collapse}
.mce-charmap td{cursor:default;border:1px solid #c5c5c5;width:20px;height:20px;line-height:20px;text-align:center;vertical-align:middle;padding:2px}
.mce-charmap td div{text-align:center}
.mce-charmap td:hover{background:#d9d9d9}
.mce-grid td div{border:1px solid #808080;width:12px;height:12px;margin:2px;cursor:pointer}
.mce-grid td div:hover{border-color:black}
.mce-grid td div:focus{border-color:#59a5e1;outline:1px solid rgba(82,168,236,0.8);border-color:rgba(82,168,236,0.8)}
.mce-grid{border-spacing:2px;border-collapse:separate}
.mce-grid a{display:block;border:1px solid transparent}
.mce-grid a:hover{border-color:#c5c5c5}
.mce-grid-border{margin:0 4px 0 4px}
.mce-grid-border a{border-color:#e8e8e8;width:13px;height:13px}
.mce-grid-border a:hover,.mce-grid-border a.mce-active{border-color:#c4daff;background:#deeafa}
.mce-text-center{text-align:center}
div.mce-tinymce-inline{width:100%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-container,.mce-container-body{display:block; position: relative;}
.mce-autoscroll{overflow:hidden}
.mce-scrollbar{position:absolute;width:7px;height:100%;top:2px;right:2px;opacity:.4;filter:alpha(opacity=40);zoom:1}
.mce-scrollbar-h{top:auto;right:auto;left:2px;bottom:2px;width:100%;height:7px}
.mce-scrollbar-thumb{position:absolute;background-color:#000;border:1px solid #888;border-color:rgba(85,85,85,0.6);width:5px;height:100%;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.mce-scrollbar-h .mce-scrollbar-thumb{width:100%;height:5px}
.mce-scrollbar:hover,.mce-scrollbar.mce-active{background-color:#AAA;opacity:.6;filter:alpha(opacity=60);zoom:1;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.mce-scroll{position:relative}
.mce-panel{border:0 solid #9e9e9e;background-color: transparent;zoom:1}
.mce-floatpanel{position:absolute;-webkit-box-shadow:#ccc 5px 5px 5px;-moz-box-shadow:#ccc 5px 5px 5px;box-shadow:#ccc 5px 5px 5px}
.mce-floatpanel.mce-fixed{position:fixed}
.mce-floatpanel .mce-arrow{border-width:11px}
.mce-floatpanel.mce-popover{top:0;left:0;background:#fff;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2)}
.mce-floatpanel.mce-popover.mce-bottom{margin-top:10px}
.mce-floatpanel.mce-popover.mce-bottom>.mce-arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);top:-11px}
.mce-floatpanel.mce-popover.mce-bottom.mce-start{margin-left:-22px}
.mce-floatpanel.mce-popover.mce-bottom.mce-start>.mce-arrow{left:20px}
.mce-floatpanel.mce-popover.mce-bottom.mce-end{margin-left:22px}
.mce-floatpanel.mce-popover.mce-bottom.mce-end>.mce-arrow{right:10px;left:auto}
.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;background:#FFF;height:100%}
div.mce-fullscreen{position:fixed;top:0;left:0}
#mce-modal-block{opacity:0;filter:alpha(opacity=0);zoom:1;position:fixed;left:0;top:0;width:100%;height:100%;background:#000}
#mce-modal-block.mce-in{opacity:.3;filter:alpha(opacity=30);zoom:1}
.mce-window-move{cursor:move}
.mce-window{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background:transparent;background:#FFF;position:fixed;top:0;left:0;opacity:0;-webkit-transition:opacity 150ms ease-in;transition:opacity 150ms ease-in}
.mce-window.mce-in{opacity:1}
.mce-window-head{padding:9px 15px;border-bottom:1px solid #EEE;position:relative}
.mce-window-head .mce-close{position:absolute;right:15px;top:9px;font-size:20px;font-weight:bold;line-height:20px;color:#CCC;text-shadow:0 1px 0 white;cursor:pointer;height:20px;overflow:hidden}
.mce-close:hover{color:#AAA}
.mce-window-head .mce-title{display:inline-block;*display:inline;*zoom:1;line-height:20px;font-size:20px;font-weight:bold;text-rendering:optimizelegibility;padding-right:10px}
.mce-window .mce-container-body{display:block}
.mce-foot{display:block;background-color:whiteSmoke;border-top:1px solid #DDD;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}
.mce-window-head .mce-dragh{position:absolute;top:0;left:0;cursor:move;width:90%;height:100%}
.mce-window iframe{width:100%;height:100%}
.mce-window.mce-fullscreen,.mce-window.mce-fullscreen .mce-foot{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.mce-abs-layout{position:relative}
body .mce-abs-layout-item,.mce-abs-end{position:absolute}
.mce-abs-end{width:1px;height:1px}
.mce-container-body.mce-abs-layout{overflow:hidden}
.mce-tooltip{position:absolute;padding:5px;opacity:.8;filter:alpha(opacity=80);zoom:1}
.mce-tooltip-inner{font-size:11px;background-color:#000;color:#fff;max-width:200px;padding:5px 8px 4px 8px;text-align:center;white-space:normal}
.mce-tooltip-inner{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-tooltip-inner{-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000}
.mce-tooltip-arrow{position:absolute;width:0;height:0;line-height:0;border:5px dashed #000}
.mce-tooltip-arrow-n{border-bottom-color:#000}
.mce-tooltip-arrow-s{border-top-color:#000}
.mce-tooltip-arrow-e{border-left-color:#000}
.mce-tooltip-arrow-w{border-right-color:#000}
.mce-tooltip-nw,.mce-tooltip-sw{margin-left:-14px}
.mce-tooltip-n .mce-tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-style:solid;border-top:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-nw .mce-tooltip-arrow{top:0;left:10px;border-bottom-style:solid;border-top:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-ne .mce-tooltip-arrow{top:0;right:10px;border-bottom-style:solid;border-top:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-s .mce-tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-style:solid;border-bottom:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-sw .mce-tooltip-arrow{bottom:0;left:10px;border-top-style:solid;border-bottom:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-se .mce-tooltip-arrow{bottom:0;right:10px;border-top-style:solid;border-bottom:0;border-left-color:transparent;border-right-color:transparent}
.mce-tooltip-e .mce-tooltip-arrow{right:0;top:50%;margin-top:-5px;border-left-style:solid;border-right:0;border-top-color:transparent;border-bottom-color:transparent}
.mce-tooltip-w .mce-tooltip-arrow{left:0;top:50%;margin-top:-5px;border-right-style:solid;border-left:none;border-top-color:transparent;border-bottom-color:transparent}
.mce-btn{
	position:relative;
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#3d3d3d;
	background-image: -webkit-linear-gradient(90deg, #3d3d3d 6.6%, #5a5a5a);
	background-image: -moz-linear-gradient(90deg, #3d3d3d 6.6%, #5a5a5a);
	background-image: -o-linear-gradient(90deg, #3d3d3d 6.6%, #5a5a5a);
	background-image: linear-gradient(0deg, #3d3d3d 6.6%, #5a5a5a);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a5a5a',endColorstr='#ff3d3d3d',GradientType=0);
	zoom:1;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.mce-btn:hover,.mce-btn:focus{
	text-decoration:none;
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#474747;
	background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #808080), to(#474747));
	background-image: -webkit-linear-gradient(#808080 6.6%, #474747);
	background-image: -moz-linear-gradient(#808080 6.6%, #474747);
	background-image: -o-linear-gradient(#808080 6.6%, #474747);
	background-image: linear-gradient(#808080 6.6%, #474747);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff808080',endColorstr='#ff474747',GradientType=0);
	zoom:1;
	border-color:#ccc #ccc #a6a6a6;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
}
.mce-btn.mce-disabled,.mce-btn.mce-disabled:hover{cursor:default;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;opacity:.65;filter:alpha(opacity=65);zoom:1}
.mce-btn.mce-active,.mce-btn.mce-active:hover{
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#818181;
	background-image: -webkit-gradient(linear, 0 0, 0 29, from(#2c2c2c), color-stop(0.068, #4a4a4a), to(#818181));
	background-image: -webkit-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: -moz-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: -o-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c',endColorstr='#ff818181',GradientType=0);
	zoom:1;
	border-color:#bfbfbf #bfbfbf #999;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)
}
.mce-btn button{padding:4px 10px;font-size:14px;line-height:20px;*line-height:16px;cursor:pointer;color:#333;text-align:center;overflow:visible;-webkit-appearance:none}
.mce-btn button::-moz-focus-inner{border:0;padding:0}
.mce-btn i{text-shadow:1px 1px #fff}
.mce-primary{min-width:50px;color:#fff;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);zoom:1;border-color:#04c #04c #002b80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.mce-primary:hover,.mce-primary:focus{color:#fff;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#005fb3;background-image:-moz-linear-gradient(top,#0077b3,#003cb3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#0077b3),to(#003cb3));background-image:-webkit-linear-gradient(top,#0077b3,#003cb3);background-image:-o-linear-gradient(top,#0077b3,#003cb3);background-image:linear-gradient(to bottom,#0077b3,#003cb3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0077b3',endColorstr='#ff003cb3',GradientType=0);zoom:1;border-color:#003cb3 #003cb3 #026;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.mce-primary button{color:#fff}
.mce-btn-large button{padding:9px 14px;font-size:16px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.mce-btn-large i{margin-top:2px}
.mce-btn-small button{padding:3px 5px;font-size:12px;line-height:15px}
.mce-btn-small i{margin-top:0}
.mce-btn .mce-caret{margin-top:8px;*margin-top:6px;margin-left:0}
.mce-btn-small .mce-caret{margin-top:6px;*margin-top:4px;margin-left:0}
.mce-caret{display:inline-block;*display:inline;*zoom:1;width:0;height:0;vertical-align:top;border-top:4px solid #DCDCDC;border-right:4px solid transparent;border-left:4px solid transparent;content:""}
.mce-disabled .mce-caret{border-top-color:#999}
.mce-caret.mce-up{border-bottom:4px solid #444;border-top:0}
.mce-btn-group .mce-btn{border-width:1px 0 1px 0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.mce-btn-group .mce-btn:hover{
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#474747;
	background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #808080), to(#474747));
	background-image: -webkit-linear-gradient(#808080 6.6%, #474747);
	background-image: -moz-linear-gradient(#808080 6.6%, #474747);
	background-image: -o-linear-gradient(#808080 6.6%, #474747);
	background-image: linear-gradient(#808080 6.6%, #474747);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff808080',endColorstr='#ff474747',GradientType=0);
	zoom:1;
	border-color:#ccc #ccc #a6a6a6;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
}
.mce-btn-group .mce-btn.mce-disabled,.mce-btn-group .mce-btn.mce-disabled:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fff,#d9d9d9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#d9d9d9));background-image:-webkit-linear-gradient(top,#fff,#d9d9d9);background-image:-o-linear-gradient(top,#fff,#d9d9d9);background-image:linear-gradient(to bottom,#fff,#d9d9d9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffd9d9d9',GradientType=0);zoom:1;border-color:#d9d9d9 #d9d9d9 #b3b3b3;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.mce-btn-group .mce-btn.mce-active,.mce-btn-group .mce-btn.mce-active:hover,.mce-btn-group .mce-btn:active{color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#818181;
	background-image: -webkit-gradient(linear, 0 0, 0 29, from(#2c2c2c), color-stop(0.068, #4a4a4a), to(#818181));
	background-image: -webkit-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: -moz-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: -o-linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-image: linear-gradient(#2c2c2c, #4a4a4a 6.8%, #818181);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c',endColorstr='#ff818181',GradientType=0);
	zoom:1;
	border-color:#bfbfbf #bfbfbf #999;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
.mce-btn-group .mce-btn.mce-disabled button{opacity:.65;filter:alpha(opacity=65);zoom:1}
.mce-btn-group .mce-first{-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.mce-btn-group .mce-last{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.mce-btn-group .mce-first.mce-last{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-btn-group .mce-btn.mce-flow-layout-item{margin:0}
.mce-checkbox{cursor:pointer}
i.mce-i-checkbox{margin:0 3px 0 0;border:1px solid #c5c5c5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fdfdfd,#ddd);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));background-image:-webkit-linear-gradient(top,#fdfdfd,#ddd);background-image:-o-linear-gradient(top,#fdfdfd,#ddd);background-image:linear-gradient(to bottom,#fdfdfd,#ddd);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd',endColorstr='#ffdddddd',GradientType=0);zoom:1;text-indent:-10em;*font-size:0;*line-height:0;*text-indent:0}
.mce-checked i.mce-i-checkbox{color:#000;font-size:16px;line-height:16px;text-indent:0}
.mce-checkbox:focus i.mce-i-checkbox{border:1px solid #59a5e1;border:1px solid rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.mce-colorbutton .mce-ico{position:relative}
.mce-colorpicker{background:#FFF}
.mce-colorbutton-grid{margin:4px}
.mce-colorbutton button{padding-right:4px}
.mce-colorbutton .mce-preview{
	background-color: gray;
	border-radius: 2px 2px 2px 2px;
    display: block;
    height: 18px;
    margin: 1px 0 0 -4px;
    width: 23px;
}
.mce-colorbutton.mce-btn-small .mce-preview{margin-left:-17px;padding-right:0;width:16px}
.mce-colorbutton .mce-open{padding-left:4px;border-left:1px solid transparent;border-right:1px solid transparent}
.mce-combobox{display:inline-block;*display:inline;*zoom:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:100px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.mce-combobox input{border-color:1px solid #c5c5c5;border-right-color:rgba(0,0,0,0.15);height:28px}
.mce-combobox.mce-has-open input{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.mce-combobox .mce-btn{border-left:0;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.mce-combobox button{padding-right:8px;padding-left:8px}
.mce-combobox *:focus{border-color:#59a5e1;border-color:rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.mce-path{display:inline-block;*display:inline;*zoom:1;padding:8px;white-space:normal}
.mce-path .mce-txt{display:inline-block;padding-right:3px}
.mce-path .mce-path-body{display:inline-block}
.mce-path-item{display:inline-block;*display:inline;*zoom:1;cursor:pointer;color:#000}
.mce-path-item:hover{text-decoration:underline}
.mce-path-item:focus{background:gray;color:white}
.mce-path .mce-divider{display:inline}
.mce-fieldset{border:0 solid #9e9e9e;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.mce-fieldset>.mce-container-body{margin-top:-15px}
.mce-fieldset-title{margin-left:5px;padding:0 5px 0 5px}
.mce-fit-layout{display:inline-block;*display:inline;*zoom:1}
.mce-fit-layout-item{position:absolute}
.mce-flow-layout-item{display:inline-block;*display:inline;*zoom:1}
.mce-flow-layout-item{margin:2px 0 2px 9px}
.mce-flow-layout-item.mce-last{margin-right:2px}
.mce-flow-layout{white-space:normal}
.mce-iframe{border:0 solid #c5c5c5;width:100%;height:100%}
.mce-label{display:inline-block;*display:inline;*zoom:1;text-shadow:0 1px 1px rgba(255,255,255,0.75);border:0 solid #c5c5c5;overflow:hidden}
.mce-label.mce-autoscroll{overflow:auto}
.mce-label-disabled .mce-text{color:#999}
.mce-label.mce-multiline{white-space:pre-wrap}
.mce-menubar .mce-menubtn{border-color:transparent;background:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:none}
.mce-menubar{border:1px solid #ddd}
.mce-menubar .mce-menubtn button{color:#000}
.mce-menubar .mce-menubtn:hover,.mce-menubar .mce-menubtn.mce-active,.mce-menubar .mce-menubtn:focus{border-color:transparent;background:#ddd;filter:none}
.mce-menubtn.mce-disabled span{color:#999}
.mce-menubtn span{line-height:20px;*line-height:16px}
.mce-menubtn.mce-btn-small span{font-size:12px;line-height:15px;*line-height:16px}
.mce-menubtn.mce-fixed-width span {
    background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/size.png") no-repeat scroll 0 3px transparent;
    color: transparent;
    display: inline-block;
    height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 19px;
}
.mce-menubtn.mce-fixed-width.mce-btn-small span{width:70px}
.mce-listbox button{text-align:left;padding-right:20px;position:relative}
.mce-listbox .mce-caret{position:absolute;margin-top:-2px;right:8px;top:50%}
.mce-menu-item{
	background-color: #6E6E6E;
    border: 1px solid #6E6E6E;
    border-radius: 2px;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: normal;
    margin: 4px 5px;
    padding: 5px 5px 3px 0;
    white-space: nowrap;
}
.mce-text {color: #FFFFFF; font-size: 12px;}
.mce-menu-item.mce-disabled .mce-text{color:#999}
.mce-menu-item:hover,.mce-menu-item.mce-selected,.mce-menu-item:focus, .mce-menu-item.mce-active{
	text-decoration:none;
	color:#fff;
	background-color:#0081c2;
	background-image:-moz-linear-gradient(top,#08c,#0077b3);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image:-webkit-linear-gradient(top,#08c,#0077b3);
	background-image:-o-linear-gradient(top,#08c,#0077b3);
	background-image:linear-gradient(to bottom,#08c,#0077b3);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
	border: 1px solid #fff;
	zoom:1
}
.mce-menu-item:hover .mce-text,.mce-menu-item.mce-selected .mce-text{color:#fff}
.mce-menu-item:hover .mce-ico,.mce-menu-item.mce-selected .mce-ico,.mce-menu-item:focus .mce-ico{color:white}
.mce-menu-item.mce-disabled:hover{background:#CCC}
.mce-menu-shortcut{display:inline-block;color:#999}
.mce-menu-shortcut{display:inline-block;*display:inline;*zoom:1;padding:0 15px 0 20px}
.mce-menu-item .mce-caret{margin-top:4px;*margin-top:3px;margin-right:6px;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #666}
.mce-menu-item.mce-selected .mce-caret,.mce-menu-item:focus .mce-caret{border-left-color:#FFF}
.mce-menu-align .mce-menu-shortcut{*margin-top:-2px}
.mce-menu-align .mce-menu-shortcut,.mce-menu-align .mce-caret{position:absolute;right:0}
.mce-menu-item-sep,.mce-menu-item-sep:hover{padding:0;height:1px;margin:9px 1px;overflow:hidden;background:#e5e5e5;border-bottom:1px solid white;cursor:default;filter:none}
.mce-menu-item.mce-active i{visibility:visible}
.mce-menu-item-preview.mce-active{border-left:5px solid #aaa;background-color:transparent;outline:0}
.mce-menu-item-checkbox.mce-active{background-color:#FFF;outline:0}
.mce-menu{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background: #232323;
	z-index:1000;
	margin:5px 0 0;
	border:1px solid #131313;
	z-index:1002;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	max-height:400px;
	overflow:auto;
	overflow-x:hidden
}
.mce-menu i{display:none}
.mce-menu-has-icons i{display:inline-block;	*display:inline;*zoom:1}
.mce-menu-sub-tr-tl{margin:-6px 0 0 -1px}
.mce-menu-sub-br-bl{margin:6px 0 0 -1px}
.mce-menu-sub-tl-tr{margin:-6px 0 0 1px}
.mce-menu-sub-bl-br{margin:6px 0 0 1px}
i.mce-radio{padding:1px;margin:0 3px 0 0;background-color:#fafafa;border:1px solid #cacece;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fdfdfd,#ddd);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#ddd));background-image:-webkit-linear-gradient(top,#fdfdfd,#ddd);background-image:-o-linear-gradient(top,#fdfdfd,#ddd);background-image:linear-gradient(to bottom,#fdfdfd,#ddd);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd',endColorstr='#ffdddddd',GradientType=0);zoom:1}
i.mce-radio:after{font-family:Arial;font-size:12px;color:#000;content:'\25cf'}
.mce-container-body .mce-resizehandle{position:absolute;right:0;bottom:0;width:16px;height:16px;visibility:visible;cursor:s-resize;margin:0}
.mce-container-body .mce-resizehandle-both{cursor:se-resize}
i.mce-i-resize{color:#000}
.mce-spacer{visibility:hidden}
.mce-splitbtn .mce-open{border-left:1px solid transparent;border-right:1px solid transparent}
.mce-splitbtn:hover .mce-open{border-left-color:#c5c5c5;border-right-color:#c5c5c5}
.mce-splitbtn button{padding-right:4px}
.mce-splitbtn .mce-open{padding-left:4px}
.mce-splitbtn .mce-open.mce-active{-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.mce-stack-layout-item{display:block}
.mce-tabs{display:block;border-bottom:1px solid #ccc}
.mce-tab{display:inline-block;*display:inline;*zoom:1;border:1px solid #ccc;border-width:1px 1px 0 0;background:#e3e3e3;padding:8px;text-shadow:0 1px 1px rgba(255,255,255,0.75);height:13px;cursor:pointer}
.mce-tab:hover{background:#fdfdfd}
.mce-tab.mce-active{background:#fdfdfd;border-bottom-color:transparent;margin-bottom:-1px;height:14px}
.mce-textbox{background:#FFF;border:1px solid #c5c5c5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);display:inline-block;-webkit-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s;height:28px;resize:none;padding:0 4px 0 4px;white-space:pre-wrap;*white-space:pre;color:#000}
.mce-textbox:focus{border-color:rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.mce-placeholder .mce-textbox{color:#aaa}
.mce-textbox.mce-multiline{padding:4px}
.mce-throbber{position:absolute;top:0;left:0;width:100%;height:100%;opacity:.6;filter:alpha(opacity=60);zoom:1;background:#fff url('img/loader.gif') no-repeat center center}
@font-face{font-family:'tinymce';src:url('fonts/icomoon.eot');src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('fonts/icomoon.svg#icomoon') format('svg'),url('fonts/icomoon.woff') format('woff'),url('fonts/icomoon.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'tinymce-small';src:url('fonts/icomoon-small.eot');src:url('fonts/icomoon-small.eot?#iefix') format('embedded-opentype'),url('fonts/icomoon-small.svg#icomoon') format('svg'),url('fonts/icomoon-small.woff') format('woff'),url('fonts/icomoon-small.ttf') format('truetype');font-weight:normal;font-style:normal}
.mce-ico{font-family:'tinymce',Arial;font-style:normal;font-weight:normal;font-size:16px;line-height:16px;vertical-align:text-top;-webkit-font-smoothing:antialiased;display:inline-block;width:16px;height:16px;color:#333}
.mce-btn-small .mce-ico{font-family:'tinymce-small',Arial}
.mce-i-save:before{content:"\e000"}
.mce-i-newdocument:before{content:"\e001"}
.mce-i-fullpage:before{content:"\e002"}
.mce-i-alignleft{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/left.png") repeat scroll -10px -7px transparent;}
.mce-i-aligncenter{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/center.png") repeat scroll -10px -7px transparent;}
.mce-i-alignright{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/right.png") repeat scroll -10px -7px transparent;}
.mce-i-alignjustify:before{content:"\e006"}
.mce-i-cut:before{content:"\e007"}
.mce-i-paste:before{content:"\e008"}
.mce-i-searchreplace:before{content:"\e009"}
.mce-i-bullist{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/bulllist.png") repeat scroll -10px -7px transparent;}
.mce-i-numlist{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/numlist.png") repeat scroll -10px -7px transparent;}
.mce-i-indent:before{content:"\e00c"}
.mce-i-outdent:before{content:"\e00d"}
.mce-i-blockquote:before{content:"\e00e"}
.mce-i-undo:before{content:"\e00f"}
.mce-i-redo:before{content:"\e010"}
.mce-i-link{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/link.png") repeat scroll -10px -7px transparent;}
.mce-i-unlink:before{content:"\e012"}
.mce-i-anchor:before{content:"\e013"}
.mce-i-image:before{content:"\e014"}
.mce-i-media:before{content:"\e015"}
.mce-i-help:before{content:"\e016"}
.mce-i-code:before{content:"\e017"}
.mce-i-inserttime:before{content:"\e018"}
.mce-i-preview:before{content:"\e019"}
.mce-i-forecolor{display: none;}
.mce-i-backcolor:before{content:"\e01a"}
.mce-i-table:before{content:"\e01b"}
.mce-i-hr:before{content:"\e01c"}
.mce-i-removeformat:before{content:"\e01d"}
.mce-i-subscript:before{content:"\e01e"}
.mce-i-superscript:before{content:"\e01f"}
.mce-i-charmap:before{content:"\e020"}
.mce-i-emoticons:before{content:"\e021"}
.mce-i-print:before{content:"\e022"}
.mce-i-fullscreen:before{content:"\e023"}
.mce-i-spellchecker:before{content:"\e024"}
.mce-i-nonbreaking:before{content:"\e025"}
.mce-i-template:before{content:"\e026"}
.mce-i-pagebreak:before{content:"\e027"}
.mce-i-restoredraft:before{content:"\e028"}
.mce-i-untitled:before{content:"\e029"}
.mce-i-bold{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/bold.png") repeat scroll -10px -7px transparent;}
.mce-i-italic{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/italic.png") repeat scroll -10px -7px transparent;}
.mce-i-underline{background: url("/static/js/lib/tinymce401/js/tinymce/skins/instapage/img/underline.png") repeat scroll -10px -7px transparent;}
.mce-i-strikethrough:before{content:"\e02d"}
.mce-i-visualchars:before{content:"\e02e"}
.mce-i-visualblocks:before{content:"\e02e"}
.mce-i-ltr:before{content:"\e02f"}
.mce-i-rtl:before{content:"\e030"}
.mce-i-copy:before{content:"\e031"}
.mce-i-resize:before{content:"\e032"}
.mce-i-browse:before{content:"\e034"}
.mce-i-checkbox:before,.mce-i-selected:before{content:"\e033"}
.mce-i-selected{visibility:hidden}
i.mce-i-backcolor{text-shadow:none;background:#BBB}
.mce-tinymce.mce-container.mce-panel {border: none;}
.mce-edit-area.mce-container.mce-panel.mce-last.mce-stack-layout-item { border: none; overflow: hidden; }
.mce-floatpanel.mce-popover,
.mce-container.mce-panel.mce-first.mce-stack-layout-item {
	background-image: -webkit-gradient(linear, 0 51.125, 0 0, from(#151515), color-stop(0.156, #060606), to(#313131));
	background-image: -webkit-linear-gradient(90deg, #151515, #060606 15.6%, #313131);
	background-image: -moz-linear-gradient(90deg, #151515, #060606 15.6%, #313131);
	background-image: -o-linear-gradient(90deg, #151515, #060606 15.6%, #313131);
	background-image: linear-gradient(0deg, #151515, #060606 15.6%, #313131);
}
.mce-container.mce-panel.mce-first.mce-stack-layout-item {
	border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.4);
    margin: -64px 0 0 -2px;
    padding: 10px;
    position: absolute;
    width: 540px;
}
.mce-container-body > .mce-flow-layout-item:first-child {margin-left: 0;}
.mce-widget.mce-btn.mce-menubtn.mce-fixed-width.mce-listbox.mce-flow-layout-item {margin-left: 0;border-radius: 0;}
.mce-widget.mce-btn.mce-menubtn.mce-fixed-width.mce-listbox.mce-flow-layout-item + .mce-container.mce-flow-layout-item.mce-btn-group {margin-left: 0;}
.mce-widget.mce-btn.mce-menubtn.mce-fixed-width.mce-listbox.mce-flow-layout-item + .mce-container.mce-flow-layout-item.mce-btn-group .mce-first {border-radius: 0;}
.mce-container.mce-first.mce-flow-layout-item.mce-btn-group .mce-first.mce-last {border-radius: 3px 0 0 3px;}
.mce-widget.mce-btn {border-right: 1px solid #323232;}
.mce-flow-layout-item.mce-last button {
    background-image: -webkit-gradient(linear, 0 30, 0 0, from(#519c25), color-stop(0.066, #489a14), color-stop(0.966, #64be07), color-stop(0.966, #86d210));
	background-image: -webkit-linear-gradient(90deg, #519c25, #489a14 6.6%, #64be07 96.6%, #86d210 96.6%);
	background-image: -moz-linear-gradient(90deg, #519c25, #489a14 6.6%, #64be07 96.6%, #86d210 96.6%);
	background-image: -o-linear-gradient(90deg, #519c25, #489a14 6.6%, #64be07 96.6%, #86d210 96.6%);
	background-image: linear-gradient(0deg, #519c25, #489a14 6.6%, #64be07 96.6%, #86d210 96.6%);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 4px 20px;
    text-shadow: 1px 1px 2px #555555;
}
.mce-flow-layout-item.mce-last button:hover{
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(#85d210), color-stop(0.066, #6eca11), color-stop(0.966, #418810), color-stop(0.966, #4f9d26));
	background-image: -webkit-linear-gradient(#85d210, #6eca11 6.6%, #418810 96.6%, #4f9d26 96.6%);
	background-image: -moz-linear-gradient(#85d210, #6eca11 6.6%, #418810 96.6%, #4f9d26 96.6%);
	background-image: -o-linear-gradient(#85d210, #6eca11 6.6%, #418810 96.6%, #4f9d26 96.6%);
	background-image: linear-gradient(#85d210, #6eca11 6.6%, #418810 96.6%, #4f9d26 96.6%);
}
.mce-flow-layout-item.mce-last button:active {
	background-image: -webkit-gradient(linear, 0 0, 0 28, color-stop(0.071, #438d12), color-stop(0.964, #6fcb12), color-stop(0.964, #85d210));
	background-image: -webkit-linear-gradient(#438d12 7.1%, #6fcb12 96.4%, #85d210 96.4%);
	background-image: -moz-linear-gradient(#438d12 7.1%, #6fcb12 96.4%, #85d210 96.4%);
	background-image: -o-linear-gradient(#438d12 7.1%, #6fcb12 96.4%, #85d210 96.4%);
	background-image: linear-gradient(#438d12 7.1%, #6fcb12 96.4%, #85d210 96.4%);
}
.mce-open .mce-caret {margin-right: 4px;}
.mce-widget.mce-btn.mce-menubtn.mce-listbox.mce-last.mce-abs-layout-item {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
}
.widget-headline .mce-container.mce-panel.mce-first.mce-stack-layout-item {width: 466px;}
.tinymce-link-textcolor {
    margin-top: -7px;
    text-align: center;
}
.tinymce-link-textcolor > a {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 12px;
}
