.navbar-brand {
  display: block;
  overflow: hidden;
  text-indent: -290486px; }

.property-link,
.node-link,
.single-map-overlay {
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }

.btn .fa {
  float: right;
  font-size: 21px;
  margin-left: 10px; }
.btn .fa-angle-down {
  float: left;
  margin: 0 5px 0 0; }

.btn-lg .fa {
  float: right;
  font-size: 30px;
  line-height: 26px;
  margin-left: 15px; }

.dropdown-toggle .fa {
  color: #de7f2b;
  float: right;
  margin-left: 5px;
  margin-top: 1px; }

#lang_sel_list.lang_sel_list_horizontal {
  border-bottom: 1px solid #e7e7e7;
  margin: 0 -15px;
  padding: 10px 0;
  position: relative; }
  #lang_sel_list.lang_sel_list_horizontal li,
  #lang_sel_list.lang_sel_list_horizontal ul {
    display: inline; }
  #lang_sel_list.lang_sel_list_horizontal a {
    color: #1b1e21;
    display: block;
    line-height: 20px;
    opacity: 0.3;
    padding: 10px 20px;
    transition-property: color, opacity; }
    #lang_sel_list.lang_sel_list_horizontal a:hover {
      color: #de7f2b;
      opacity: 1; }
    #lang_sel_list.lang_sel_list_horizontal a.lang_sel_sel {
      opacity: 1; }
  #lang_sel_list.lang_sel_list_horizontal img {
    float: left;
    margin-right: 5px;
    margin-top: 4px; }

.wpcf7 .name {
  font-size: 13px;
  font-weight: normal; }
.wpcf7 br {
  display: none; }
.wpcf7 span.wpcf7-not-valid-tip {
  color: #d86464;
  font-size: 13px;
  margin-top: 5px; }
.wpcf7 div.wpcf7-response-output {
  margin: 0 20px 20px;
  padding: 5px 12px; }
.wpcf7 div.wpcf7-validation-errors, .wpcf7 div.wpcf7-mail-sent-ng {
  background: #d86464;
  border-color: #b65454;
  color: white; }
.wpcf7 div.wpcf7-mail-sent-ok {
  background: #54b664;
  border-color: #40964f;
  color: white; }
.wpcf7 .modal-body > .row {
  margin-bottom: 15px; }

@media screen and (min-width: 768px) {
  #lang_sel_list.lang_sel_list_horizontal {
    border-bottom: none;
    height: 20px;
    left: 216px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px; }
    #lang_sel_list.lang_sel_list_horizontal a {
      float: left;
      height: 20px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      width: 18px;
      white-space: nowrap; }
    #lang_sel_list.lang_sel_list_horizontal a.icl-fr,
    #lang_sel_list.lang_sel_list_horizontal li.icl-fr > a {
      left: 0; }
    #lang_sel_list.lang_sel_list_horizontal a.icl-en,
    #lang_sel_list.lang_sel_list_horizontal li.icl-en > a {
      left: 28px; } }
.more {
  padding: 50px 0;
  text-align: center; }

.name {
  color: #1b1e21;
  font-size: 18px;
  font-weight: bold; }

.location {
  color: #b8ac8d;
  font-size: 16px;
  font-style: italic;
  font-weight: normal; }

.price {
  color: #3d4042;
  font-size: 18px;
  font-weight: 600; }
  .price .label {
    position: relative;
    top: -2px; }

.meta {
  color: #8d8e90;
  font-size: 12px;
  letter-spacing: 0.065em;
  text-transform: uppercase; }

.info {
  display: none;
  text-align: center; }
  .info li {
    color: #8d8e90;
    float: left;
    vertical-align: top; }
    .info li strong {
      display: block;
      font-size: 24px;
      font-weight: normal; }
    .info li em {
      display: block;
      font-size: 10px;
      font-style: normal;
      letter-spacing: 0.2em;
      text-transform: uppercase; }

.details {
  color: #8d8e90; }
  .details a:hover {
    text-decoration: underline; }

.content {
  font-size: 18px;
  line-height: 1.5;
  overflow-x: hidden; }
  .content a:hover {
    text-decoration: underline; }
  .content h3 {
    color: #1d1d1b;
    font-size: 24px; }
  .content h4 {
    color: #b8ac8d;
    font-size: 20px;
    margin: 1em 0; }
  .content p {
    margin: 1em 0; }
  .content ul {
    list-style: disc outside;
    margin: 1em 0 1em 2em; }
  .content p:last-child,
  .content ul:last-child {
    margin-bottom: 0; }

.categories a {
  border-radius: 3px;
  display: block;
  padding: 6px 10px 4px; }
  .categories a:hover {
    background: white; }
.categories .current-cat a {
  background: #de7f2b;
  color: white;
  font-weight: bold; }
  .categories .current-cat a:hover {
    background: #de7f2b; }

.main {
  background: #eae8e3;
  display: block;
  position: relative; }

.footer {
  background: #1b1e21;
  padding: 50px 0 15px;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 0 black; }
  .footer a {
    color: white; }
  .footer ul {
    font-size: 21px;
    margin-top: 30px; }
  .footer li {
    display: inline; }
    .footer li a {
      border: 2px solid rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin: 0 5px;
      text-align: center;
      vertical-align: top;
      width: 50px; }
      .footer li a:hover {
        background: #de7f2b;
        border-color: #de7f2b;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
  .footer .email a {
    font-size: 18px;
    line-height: 48px; }
  .footer .twitter a:hover {
    background: #55acee;
    border-color: #55acee; }
  .footer .facebook a:hover {
    background: #5a86e5;
    border-color: #5a86e5; }
  .footer .instagram a:hover {
    background: #3f729b;
    border-color: #3f729b; }
  .footer .vine a:hover {
    background: #00b488;
    border-color: #00b488; }
  .footer .pinterest a:hover {
    background: #cc2127;
    border-color: #cc2127; }
  .footer .google a:hover {
    background: #dd4b39;
    border-color: #dd4b39; }
  .footer .flickr a:hover {
    background: #ff0084;
    border-color: #ff0084; }
  .footer p {
    font-size: 14px;
    margin-top: 50px; }
    .footer p a {
      opacity: 0.15; }
      .footer p a:hover {
        opacity: 1; }

@media screen and (min-width: 768px) {
  .main {
    padding-top: 50px; } }
@media screen and (min-width: 992px) {
  .main {
    min-height: 600px; } }
.property {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: relative; }
  .property:hover {
    box-shadow: 0 1px 15px 2px rgba(222, 127, 43, 0.5); }

.property-image {
  background: #f5f5f5;
  height: auto; }
  .property-image img {
    height: auto;
    width: 100%; }

.property-content {
  background: white;
  bottom: 0;
  left: 0;
  line-height: 20px;
  padding: 11px 10px 9px; }
  .property-content .name {
    float: none;
    line-height: 20px; }
  .property-content .price {
    display: inline;
    float: right; }
  .property-content .location {
    clear: both;
    float: left; }
  .property-content .meta {
    float: right; }

.property-link {
  display: block; }

.grid .property {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid {
    margin: 0 auto;
    width: 740px; }
    .grid .property {
      margin-bottom: 20px; }
      .grid .property:nth-child(2n) {
        margin-left: 20px; }
      .grid .property:nth-child(2n+1) {
        clear: left; } }
@media screen and (min-width: 768px) {
  .grid .property {
    float: left;
    width: 360px; }

  .list .property {
    float: none;
    height: 180px;
    padding-left: 270px;
    width: auto; }
  .list .property-image {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 270px; }
  .list .property-content {
    border-top: 1px solid #eae8e3;
    padding: 15px;
    position: static;
    width: auto; }
    .list .property-content .name {
      font-size: 24px;
      line-height: 24px; }
    .list .property-content .location {
      clear: none;
      font-size: 20px;
      margin-top: 5px; }
    .list .property-content .meta span {
      display: none; }
    .list .property-content .meta .reference {
      display: inline; }
  .list .property .info {
    bottom: 15px;
    display: block;
    left: 270px;
    position: absolute;
    right: 0; }
    .list .property .info li {
      margin: 0 15px; } }
@media screen and (min-width: 992px) {
  .grid .property {
    float: left;
    height: 300px;
    margin: 0 10px 20px; }
  .grid .property-image {
    height: 240px; }
  .grid .property-content {
    position: absolute;
    width: 360px; }

  .list .property {
    margin-bottom: 20px; }
  .list .property-content {
    border-top: none; }
    .list .property-content:after {
      display: none; } }
.node {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: block;
  position: relative; }
  .node .details {
    font-size: 12px; }
    .node .details a {
      position: relative;
      z-index: 1; }
  .node:hover {
    box-shadow: 0 1px 15px 2px rgba(222, 127, 43, 0.5); }

.node-thumbnail {
  background: rgba(234, 232, 227, 0.5);
  display: block;
  height: 0;
  padding-top: 66.6666%;
  position: relative; }
  .node-thumbnail img {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

.node-body {
  padding: 20px; }

.node-title {
  color: #1d1d1b;
  font-size: 21px;
  font-weight: bold; }

.node-excerpt {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px; }

.node-more {
  margin-top: 10px; }
  .node-more .btn {
    font-size: 12px;
    padding: 4px 10px;
    position: relative;
    z-index: 1; }

.node-link {
  display: block; }

@media screen and (max-width: 767px) {
  .nodes .node {
    margin: 0 auto 20px;
    max-width: 360px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nodes .node {
    float: left;
    margin-bottom: 20px;
    width: 49%; }
    .nodes .node:nth-child(2n) {
      margin-left: 2%; }
    .nodes .node:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 992px) {
  .node {
    min-height: 160px;
    padding-left: 240px; }

  .node-thumbnail {
    height: 160px;
    left: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 240px; }

  .nodes .node + .node {
    margin-top: 20px; }

  .post {
    min-height: 200px;
    padding-left: 300px; }
    .post .node-thumbnail {
      height: 200px;
      width: 300px; } }
.sister {
  background-color: #1d1d1b;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 66.6666%;
  position: relative;
  text-align: center; }
  .sister:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #1d1d1b;
    content: "";
    display: block;
    opacity: 0.7;
    transition: opacity 250ms ease-out; }
  .sister:hover:before {
    opacity: 0; }

.sister-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  margin-top: -13px;
  position: absolute;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  top: 50%;
  width: 100%; }

@media screen and (min-width: 768px) {
  .sisters .sister {
    float: left;
    padding-top: 22.2222%;
    width: 33.3333%; } }
@media screen and (min-width: 992px) {
  .sisters .sister {
    padding-top: 16.6666%;
    width: 25%; } }
.owl {
  background: #1b1e21 url(images/ajax-loader.gif) no-repeat center center;
  min-height: 250px; }

.owl-content {
  display: none; }
  .owl-content:first-child {
    display: block;
    opacity: 0;
    visibility: hidden; }

.owl-item .property {
  box-shadow: none; }

.owl-text {
  padding: 15px;
  text-align: center; }
  .owl-text p {
    display: inline-block;
    margin: 0 5px 5px;
    vertical-align: top; }
  .owl-text .price {
    color: white; }

.owl-controls {
  opacity: 0;
  padding: 15px 0;
  text-align: center; }

.owl-dots {
  height: auto;
  min-height: 8px; }

.owl-dot {
  background: #eae8e3;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 5px;
  vertical-align: top;
  width: 8px; }

.active.owl-dot {
  background: #de7f2b; }

.owl-loaded {
  background: #1b1e21; }
  .owl-loaded .owl-content {
    display: block; }
    .owl-loaded .owl-content:first-child {
      opacity: 1;
      visibility: visible; }
  .owl-loaded .owl-controls {
    opacity: 1; }

.gallery {
  background: #1b1e21; }

.galleria {
  background: #1b1e21;
  max-height: 1400px;
  min-height: 400px;
  position: relative; }
  .galleria > a {
    opacity: 0; }

.galleria-theme-twelve {
  font-family: "cronos-pro", "adobe-garamond-pro", Georgia, serif;
  font-size: 14px; }
  .galleria-theme-twelve .galleria-stage {
    background: #1b1e21;
    bottom: 0; }
    .galleria-theme-twelve .galleria-stage .galleria-image {
      cursor: pointer; }
  .galleria-theme-twelve .galleria-loader {
    background: #1b1e21 url(images/ajax-loader.gif) no-repeat center center;
    opacity: 1; }
  .galleria-theme-twelve .galleria-image-nav-left {
    background-position: 0 -36px; }
  .galleria-theme-twelve .galleria-image-nav-right {
    background-position: -36px -36px; }
  .galleria-theme-twelve .galleria-thumbnails {
    padding-top: 50px; }
    .galleria-theme-twelve .galleria-thumbnails .galleria-image {
      height: 100px !important;
      width: 150px !important; }
      .galleria-theme-twelve .galleria-thumbnails .galleria-image img {
        height: 100px !important;
        width: 150px !important; }
    .galleria-theme-twelve .galleria-thumbnails .active.galleria-image {
      border-color: #de7f2b; }
  .galleria-theme-twelve .galleria-bar {
    background: #1b1e21;
    background: rgba(28, 31, 34, 0.85);
    height: 30px; }
  .galleria-theme-twelve .galleria-thumblink,
  .galleria-theme-twelve .galleria-fullscreen,
  .galleria-theme-twelve .galleria-play,
  .galleria-theme-twelve .galleria-popout {
    bottom: 0;
    height: 30px; }
  .galleria-theme-twelve .galleria-info {
    color: #ccc; }
  .galleria-theme-twelve.notouch .galleria-thumblink:hover, .galleria-theme-twelve.touch .galleria-thumblink:active,
  .galleria-theme-twelve .galleria-thumblink.open, .galleria-theme-twelve.notouch .galleria-fullscreen:hover, .galleria-theme-twelve.touch .galleria-fullscreen:active, .galleria-theme-twelve.notouch .galleria-play:hover, .galleria-theme-twelve.touch .galleria-play:active, .galleria-theme-twelve.notouch .galleria-popout:hover, .galleria-theme-twelve.touch .galleria-popout:active {
    background-color: #de7f2b; }
  .galleria-theme-twelve .galleria-info {
    bottom: 0;
    height: 30px;
    line-height: 30px; }
  .galleria-theme-twelve .galleria-counter {
    background-repeat: repeat-y; }
  .galleria-theme-twelve .galleria-popout {
    display: none; }
  .galleria-theme-twelve .galleria-info-description {
    color: #b8ac8d;
    font-style: italic; }
  .galleria-theme-twelve .galleria-s1,
  .galleria-theme-twelve .galleria-s2,
  .galleria-theme-twelve .galleria-s3 {
    bottom: 0;
    height: 30px; }
  .galleria-theme-twelve .galleria-s4 {
    display: none; }

.front-page-grid {
  margin: 0 auto; }

@media screen and (min-width: 992px) {
  .front-page-grid {
    margin-bottom: -20px;
    width: 760px; } }
.properties-nav {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%; }
  .properties-nav .btn {
    border-radius: 0; }

.properties-show-filters {
  display: block; }

.properties-show-properties {
  display: none; }

.properties-filters {
  background: white;
  bottom: 50px;
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.properties-heading {
  background: white;
  padding: 15px; }
  .properties-heading .dropdown {
    margin-top: 15px; }
    .properties-heading .dropdown .btn-text {
      display: none; }
  .properties-heading .dropdown-toggle {
    display: block;
    padding-left: 10px;
    text-align: left; }
    .properties-heading .dropdown-toggle .caret {
      margin-top: -2px;
      position: absolute;
      right: 15px;
      top: 50%; }
  .properties-heading .dropdown-menu {
    float: none;
    position: static; }
  .properties-heading .btn-group {
    display: none;
    float: right;
    margin-left: 15px; }

.properties-title {
  font-size: 24px;
  line-height: 32px; }
  .properties-title strong {
    color: #1b1e21; }

html.show-filters {
  overflow: hidden; }
  html.show-filters .navbar,
  html.show-filters .properties-show-filters {
    display: none; }
  html.show-filters .properties-show-properties,
  html.show-filters .properties-filters {
    display: block; }

.filters {
  background: white; }

.filter {
  border-bottom: 1px solid #eae8e3;
  padding: 15px;
  position: relative; }
  .filter .row {
    margin: 0 -1px; }
  .filter .col-xs-3 {
    padding: 0 1px; }
    .filter .col-xs-3 .btn {
      display: block;
      padding-left: 0;
      padding-right: 0; }

.filter-title {
  background: #fafafa; }
  .filter-title .btn {
    position: absolute;
    right: 10px;
    top: 9px; }

.filter-label {
  color: #8d8e90;
  font-size: 12px;
  letter-spacing: 0.065em;
  margin-bottom: 5px;
  text-transform: uppercase; }

.filter-periods {
  display: none; }
  .filter-periods .btn {
    display: block;
    padding-left: 10px;
    text-align: left; }
    .filter-periods .btn .caret {
      margin-top: -2px;
      position: absolute;
      right: 15px;
      top: 50%; }
  .filter-periods .dropdown-menu {
    float: none;
    position: relative; }

.filter-price {
  display: none; }

.filter-price .filter-label,
.filter-rooms .filter-label,
.filter-bedrooms .filter-label {
  display: block; }

.ui-slider,
.ui-slider-range {
  height: 8px;
  position: relative; }

.ui-slider {
  background: #eae8e3;
  margin: 10px 5px 0; }

.ui-slider-range {
  background: #de7f2b; }

.ui-slider-handle {
  background: white;
  border: 1px solid #de7f2b;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-left: -10px;
  position: absolute;
  top: -6px;
  width: 20px; }
  .ui-slider-handle:hover, .ui-slider-handle:focus, .ui-slider-handle:active {
    border-color: #333;
    outline: none; }

.filter-price-range {
  margin-top: 10px;
  position: relative; }

.filter-price-range-max {
  float: right; }

#no-result {
  display: none;
  font-size: 20px;
  padding: 50px 30px;
  text-align: center; }
  #no-result .btn {
    margin-top: 15px; }

@media screen and (min-width: 768px) {
  .properties-heading {
    height: 62px; }
    .properties-heading .dropdown {
      float: right;
      margin-top: 0; }
      .properties-heading .dropdown .btn-text {
        display: inline-block; }
    .properties-heading .dropdown-toggle {
      display: inline-block; }
      .properties-heading .dropdown-toggle .caret {
        margin: 0 0 0 2px;
        position: static; }
    .properties-heading .dropdown-menu {
      float: left;
      position: absolute;
      width: auto; }
    .properties-heading .btn-group {
      display: block; }

  .properties-title {
    float: left; }

  #no-result {
    padding: 100px 0; } }
@media screen and (min-width: 992px) {
  .properties {
    margin: 0 auto;
    width: 980px; }

  .properties-nav {
    display: none; }

  .properties-filters {
    background: none;
    bottom: auto;
    display: block;
    overflow: visible;
    position: static;
    top: auto;
    width: auto; }

  .properties-heading {
    background: none;
    height: 32px;
    margin: 0 0 20px 240px;
    padding: 0; }
    .properties-heading .dropdown {
      float: right; }

  .properties-list {
    margin-left: 240px; }

  .grid.properties-list {
    margin-left: 230px;
    margin-right: -10px; }

  html.show-filters {
    overflow: auto;
    overflow-y: scroll; }
    html.show-filters .navbar,
    html.show-filters .properties-filters {
      display: block; }

  .filters {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    float: left;
    width: 220px; }

  .affix.filters {
    position: fixed;
    top: 65px; }

  .affix-top.filters,
  .affix-bottom.filters {
    position: absolute; }

  .filter-types .dropdown-menu,
  .filter-periods .dropdown-menu {
    float: left;
    position: absolute;
    width: 100%; } }
.page-text {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 1.5;
  padding: 20px; }
  .page-text p {
    margin: 1em 0; }
    .page-text p:first-child {
      margin-top: 0; }
  .page-text h2 {
    font-size: 24px; }
  .page-text ul {
    margin-left: 20px; }
    .page-text ul li {
      list-style: disc outside; }

.page-intro {
  background-color: #b8ac8d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: relative; }
  .page-intro:before {
    background: black;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%; }
  .page-intro .container {
    position: relative; }
  .page-intro .breadcrumb {
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0; }
    .page-intro .breadcrumb span {
      margin: 0 2px; }
      .page-intro .breadcrumb span:first-child {
        margin-left: 0; }
    .page-intro .breadcrumb a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline; }
      .page-intro .breadcrumb a:hover {
        color: white; }
    .page-intro .breadcrumb > li + li:before {
      color: rgba(255, 255, 255, 0.5); }

.page-intro-title,
.page-intro-subtitle {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.page-intro-title {
  color: white;
  font-size: 36px;
  font-weight: bold; }
  .page-intro-title a {
    color: white; }
  .page-intro-title em {
    font-style: normal; }
    .page-intro-title em a {
      color: #de7f2b; }

.page-intro-subtitle {
  color: #b8ac8d;
  font-size: 21px;
  font-style: italic;
  margin-top: 5px; }

.page-count {
  font-size: 21px;
  margin: 0 10px 20px; }
  .page-count strong {
    color: #1d1d1b;
    font-weight: bold; }

.page-side {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px; }
  .page-side p {
    margin-bottom: 1em; }
    .page-side p:last-child {
      margin-bottom: 0; }

.page-more {
  background: #eae8e3;
  overflow: hidden;
  position: relative; }
  .page-more .container {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
    padding-top: 20px; }
  .page-more:before {
    background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1), transparent);
    content: "";
    display: block;
    height: 20px;
    margin: -10px 0; }
  @media screen and (min-width: 992px) {
    .page-more .container {
      padding-bottom: 40px;
      padding-top: 40px; } }

.page-more-title {
  color: #1d1d1b;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }
  .page-more-title em {
    color: #4d4d4d;
    font-weight: normal; }
  .page-more-title a {
    color: #1d1d1b; }
    .page-more-title a:hover {
      border-bottom: 1px solid #1d1d1b; }

@media screen and (max-width: 767px) {
  .page-more-title {
    text-align: center; } }
@media screen and (min-width: 768px) {
  .page-text {
    padding: 30px; }

  .page-header--single {
    padding: 50px; }

  .page-intro {
    padding: 50px 20px; }

  .page-side {
    padding: 20px 0; } }
@media screen and (min-width: 992px) {
  .page-header--single {
    margin: 0 auto;
    width: 970px; }

  .page-main {
    padding-top: 50px; }

  .page-side {
    float: right;
    padding: 40px 0;
    width: 190px; }

  .page-lead {
    float: left;
    margin-left: -10px;
    padding: 40px 0;
    width: 760px; }
    .page-lead .node {
      margin-left: 10px; } }
@media screen and (min-width: 1200px) {
  .page-side {
    width: 390px; } }
.blog-lead {
  padding-top: 20px; }

.blog-heading {
  color: #1d1d1b;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 10px; }
  .blog-heading .fa {
    border-radius: 290486px;
    color: white;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 24px; }
  .blog-heading .fa-star {
    background: #EBA421; }
  .blog-heading .fa-hand-o-right {
    background: #7ED321; }
  .blog-heading .fa-book {
    background: #42AFE3; }

.blog-widget {
  margin-bottom: 40px; }
  .blog-widget:last-child {
    margin-bottom: 0; }

.blog-properties .property {
  float: left;
  width: 50%; }
  .blog-properties .property:nth-child(2n+1) {
    clear: left; }
.blog-properties .property-content {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 0; }
.blog-properties .name {
  color: white; }
.blog-properties .price,
.blog-properties .meta {
  display: none; }

.blog-action {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: block;
  height: 160px;
  margin: 0 auto;
  max-width: 360px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .blog-action img {
    display: block;
    width: 100%; }
  .blog-action span {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: block;
    left: 0;
    margin-top: -45px;
    padding: 20px 10px;
    position: absolute;
    right: 0;
    top: 50%; }
  .blog-action em {
    color: #b8ac8d;
    display: block;
    line-height: 20px; }
  .blog-action strong {
    display: block;
    font-size: 24px;
    line-height: 30px; }
  .blog-action:hover {
    box-shadow: 0 1px 15px 2px rgba(222, 127, 43, 0.5); }
  .blog-action + .blog-action {
    margin-top: 20px; }

.blog-single {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: -20px;
  padding: 20px; }
  .blog-single .title {
    color: #1d1d1b;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.125; }

@media screen and (max-width: 767px) {
  .blog-side {
    padding: 20px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .blog-side {
    padding: 20px 0; } }
@media screen and (min-width: 992px) {
  .blog-lead {
    float: left;
    padding: 40px 0;
    width: 660px; }

  .blog-side {
    float: right;
    padding: 40px 0;
    width: 270px; }

  .blog-single {
    margin: -40px 0;
    padding: 40px; } }
@media screen and (min-width: 1200px) {
  .blog-lead {
    width: 770px; }

  .blog-side {
    width: 360px; } }
.single-header {
  background: white; }
  .single-header .col-md-4 {
    padding-left: 0;
    padding-right: 0; }

.single-intro {
  padding: 30px 0;
  text-align: center; }
  .single-intro .name {
    font-size: 32px;
    line-height: 1.125; }
  .single-intro .location {
    font-size: 24px;
    line-height: 1.125; }
  .single-intro .info {
    display: block; }
    .single-intro .info li {
      margin-top: 15px;
      width: 50%; }
      .single-intro .info li strong {
        font-size: 32px; }
      .single-intro .info li em {
        font-size: 12px; }

.single-side {
  background: white;
  position: relative; }

.single-price {
  border-top: 1px solid #eae8e3;
  padding: 15px;
  position: relative; }
  .single-price .meta {
    margin-top: -7px;
    position: absolute;
    right: 15px;
    top: 50%; }
  .single-price .price {
    font-size: 32px; }

.single-contact {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%; }
  .single-contact .btn {
    border-radius: 0;
    display: block; }

.single-data {
  border-top: 1px solid #eae8e3;
  padding: 15px; }
  .single-data table th {
    color: #8d8e90;
    font-weight: normal;
    padding: 5px;
    vertical-align: top; }
  .single-data table td {
    color: #1d1d1b;
    font-weight: normal;
    padding: 5px;
    vertical-align: top;
    width: 50%; }

.single-share {
  border-top: 1px solid #eae8e3;
  padding: 15px;
  text-align: center; }

.single-share-title {
  color: #8d8e90;
  margin-bottom: 15px; }

.single-share a {
  color: #8d8e90;
  display: inline-block;
  font-size: 21px;
  margin: 0 5px;
  vertical-align: top;
  width: 21px; }
.single-share .single-share-twitter:hover {
  color: #55acee; }
.single-share .single-share-facebook:hover {
  color: #5a86e5; }
.single-share .single-share-email:hover {
  color: #de7f2b; }

.single-main {
  background: #eae8e3;
  padding: 30px 15px; }

.single-map {
  height: 500px;
  position: relative; }
  .single-map iframe {
    border: none;
    height: 500px;
    position: relative;
    width: 100%; }

.single-map-overlay {
  display: block; }

.single-map .btn {
  display: none;
  left: 15px;
  margin-top: -16px;
  position: absolute;
  top: 50%; }
  .single-map .btn strong {
    font-weight: normal; }
  .single-map .btn span {
    display: none; }
.single-map .active.btn strong {
  display: none; }
.single-map .active.btn span {
  display: inline; }

@media screen and (min-width: 768px) {
  .single-intro {
    text-align: left; }
    .single-intro .info li {
      padding: 0 15px;
      width: auto; }

  .single-main {
    min-height: 600px; }

  .single-contact {
    border-top: 1px solid #eae8e3;
    padding: 15px;
    position: static; }
    .single-contact .btn {
      border-radius: 3px; } }
@media screen and (min-width: 992px) {
  .single-header .col-md-4 {
    padding-left: 15px;
    padding-right: 15px; }

  .single-side {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 290px; }

  .affix.single-side,
  .affix-top.single-side,
  .affix-bottom.single-side {
    position: absolute; }

  .single-map .btn {
    display: inline-block; } }
@media (min-width: 1200px) {
  .front-page-grid {
    width: 1140px; } }
@media (min-width: 1400px) {
  .properties {
    width: 1360px; } }
@media (min-width: 1600px) {
  .front-page-grid {
    width: 1520px; } }
@media (min-width: 1800px) {
  .properties {
    width: 1740px; } }
.properties-nav,
.single-contact {
  z-index: 1010; }

.main {
  z-index: 100; }

a {
  transition: none 250ms ease-out;
  transition-property: background, border, box-shadow, color; }

.footer p a {
  transition: opacity 250ms ease-out; }

.owl-content {
  transition: all 250ms ease-out; }

.owl-controls {
  transition: opacity 250ms ease-out; }

.property,
.node {
  transition: all 250ms ease-out; }

/*# sourceMappingURL=main.css.map */
