/*

Black:    1d1d1b
Orange:   de7f2b
Blue:     1b1e21
Beige:    eae8e3
Brown:    b8ac8d

Twitter:  55acee
Facebook: 5a86e5

*/

html{ overflow-y: scroll;}
body{ background: #1b1e21; color: #4d4d4d; font: 16px/1.25 'Cronos Pro', 'cronos-pro', Arial, sans-serif; min-height: 100%; padding-top: 50px;}
img{ max-width: 100%;}
a{ color: #de7f2b; cursor: pointer;}
  a:hover{ color: #de7f2b; text-decoration: none;}
  a:active{ color: #1b1e21;}
  a:focus{ color: #1b1e21;}
blockquote{ word-wrap: break-word;}
li{ list-style: none;}
p, ul, ol{ margin: 0; padding: 0;}
article,aside,footer,header,hgroup,main{ display: block;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'Cronos Pro', 'cronos-pro', 'Adobe Garamond', 'Adobe Garamond Pro', 'adobe-garamond-pro', Georgia, serif; margin: 0; padding: 0;}
h2, .h2{ font-size: 40px;}
h3, .h3{ font-size: 29px;}
h4, .h4{ font-size: 24px;}
h5, .h5{ font-size: 21px;}
h6, .h6{ font-size: 18px;}

.navbar-default,
.page-header h1,
.page-header h2,
.meta,
.footer p
{ font-family: 'Adobe Garamond', 'Adobe Garamond Pro', 'adobe-garamond-pro', 'cronos-pro', Georgia, serif;}

.affix{ position: static;}

.btn{ background: white; border: 1px solid #de7f2b; border-radius: 3px; color: #de7f2b; font-size: 16px; outline: none !important; padding: 4px 15px;}
.btn:hover,
.btn:active,
.btn:focus{ color: #1b1e21;}

.btn-default{ background: none; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); color: white;}
.btn-default:hover,
.btn-default:focus,
.btn-default.active{ background: #de7f2b; border-color: transparent; color: white;}

.btn-text,
.btn-text:hover,
.btn-text:active,
.btn-text:focus{ background: none; border-color: transparent; color: #4d4d4d; cursor: default;}

.btn-primary{ background: #de7f2b; border-color: transparent; color: white;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{ background: #1b1e21; border-color: transparent; color: white;}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary{ background: #de7f2b; border-color: transparent; color: white;}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){ border-radius: 4px 0 0 4px;}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){ border-radius: 0 4px 4px 0;}

.btn-label,
.btn-label:hover,
.btn-label:focus,
.btn-label:active{ background: none; border-color: transparent; box-shadow: none; color: #333; cursor: default;}

.btn-link,
.btn-link:active,
.btn-link[disabled]{ border-color: transparent; color: #b8ac8d; text-decoration: underline;}

.btn-lg{ border-radius: 25px; border-width: 2px; font-size: 20px; padding: 10px 25px;}
.btn-sm, .btn-group-sm > .btn{ font-size: 14px; padding: 3px 8px 2px;}

.dropdown-menu{ width: 100%;}
.dropdown-menu > li > a{ padding: 6px 15px 4px;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{ background: #de7f2b; color: white;}
.dropdown-menu .divider{ margin: 4px 0;}

.form-control{ border-color: #b8ac8d; color: #1b1e21;}
.form-control::-webkit-input-placeholder{ color: #b8ac8d;}
.form-control:focus{ border-color: #de7f2b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 127, 43, 0.6)}
.form-control:focus::-webkit-input-placeholder{ color: #eae8e3;}
textarea.form-control{ max-width: 100%;}
.form-group:last-child{ margin-bottom: 0;}
.form-group br{ display: none;}

.modal-footer{ margin-top: 0; text-align: left;}
.modal-footer br{ display: none;}
.modal-footer .btn-link{ float: right;}
.modal-open{ overflow: visible;}

.navbar-default{ background: white; border-bottom: none; border-radius: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); font-size: 18px; margin: 0;}
.navbar-brand{ background: url(images/logo@2x.png) no-repeat center center; background-size: 165px 30px; height: 50px; width: 201px;}
.navbar-default .navbar-nav > li > a{ color: #1b1e21;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{ color: #de7f2b;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{ background: white; color: #de7f2b;}
.navbar-default .navbar-text{ float: left; margin: 20px 0 0 15px;}
.navbar-nav > li > .dropdown-menu{ border: none; font-size: 18px; padding: 10px 0;}

.page-header{ border-bottom: none; margin: 0; padding: 30px; text-align: center;}
.page-header h1,
.page-header h2{ font-size: 30px; font-weight: normal;}
.page-header .subtitle{ font-size: 21px; margin-top: 0.25em; opacity: 0.5;}

@media (min-width: 768px) {

  body{ padding-top: 0;}

  .navbar-default{ background: rgba(255, 255, 255, 0.9);}

}

@media (min-width: 992px) {

  .dropdown-menu{ width: auto;}

}
