/* Effective stylesheet produced by snapshot save */
html { background-color: rgb(226, 226, 226); margin: 0px; padding: 0px; }
body { background-color: rgb(255, 255, 255); border-top: 10px solid rgb(0, 0, 0); color: rgb(51, 51, 51); font-size: 0.85em; font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif; margin: 0px; padding: 0px; }
a { color: rgb(51, 51, 51); outline: medium none; padding-left: 3px; padding-right: 3px; text-decoration: underline; }
a:link, a:visited, a:active, a:hover { color: rgb(51, 51, 51); }
a:hover { background-color: rgb(199, 209, 214); }
header, footer, hgroup, nav, section { display: block; }
mark { background-color: rgb(166, 219, 237); padding-left: 5px; padding-right: 5px; }
.float-left { float: left; }
.float-right { float: right; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); margin-bottom: 0px; padding-bottom: 0px; }
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }
h5 a:link, h5 a:visited, h5 a:active { padding: 0px; text-decoration: none; }
.content-wrapper { margin: 0px auto; max-width: 960px; }
#body { background-color: rgb(239, 238, 239); clear: both; padding-bottom: 35px; }
.main-content { background: url("urn:not-loaded:http://localhost:4042/Images/accent.png") no-repeat scroll 0% 0% transparent; padding-left: 10px; padding-top: 30px; }
.featured + .main-content { background: url("heroAccent.png") no-repeat scroll 0% 0% transparent; }
header .content-wrapper { padding-top: 20px; }
footer { clear: both; background-color: rgb(226, 226, 226); font-size: 0.8em; height: 100px; }
.site-title { color: rgb(200, 200, 200); font-family: Rockwell,Consolas,"Courier New",Courier,monospace; font-size: 2.3em; margin: 0px; }
.site-title a, .site-title a:hover, .site-title a:active { background: none repeat scroll 0% 0% transparent; color: rgb(200, 200, 200); outline: medium none; text-decoration: none; }
#login { display: block; font-size: 0.85em; margin: 0px 0px 10px; text-align: right; }
#login a { background-color: rgb(211, 220, 224); margin-left: 10px; margin-right: 3px; padding: 2px 3px; text-decoration: none; }
#login a.username { background: none repeat scroll 0% 0% transparent; margin-left: 0px; text-decoration: underline; }
#login ul { margin: 0px; }
#login li { display: inline; list-style: none outside none; }
ul#menu { font-size: 1.3em; font-weight: 600; margin: 0px 0px 5px; padding: 0px; text-align: right; }
ul#menu li { display: inline; list-style: none outside none; padding-left: 15px; }
ul#menu li a { background: none repeat scroll 0% 0% transparent; color: rgb(153, 153, 153); text-decoration: none; }
ul#menu li a:hover { color: rgb(51, 51, 51); text-decoration: none; }
.featured { background-color: rgb(255, 255, 255); }
.featured .content-wrapper { background-color: rgb(122, 192, 218); color: rgb(62, 86, 103); padding: 20px 40px 30px; }
.featured hgroup.title h1, .featured hgroup.title h2 { color: rgb(255, 255, 255); }
.featured p { font-size: 1.1em; }
hgroup.title { margin-bottom: 10px; }
hgroup.title h1, hgroup.title h2 { display: inline; }
hgroup.title h2 { font-weight: normal; margin-left: 3px; }
section.feature { width: 300px; float: left; padding: 10px; }
ol.round { list-style-type: none; padding-left: 0px; }
ol.round li { margin: 25px 0px; padding-left: 45px; }
ol.round li.zero { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList0.png") no-repeat scroll 0% 0% transparent; }
ol.round li.one { background: url("orderedList1.png") no-repeat scroll 0% 0% transparent; }
ol.round li.two { background: url("orderedList2.png") no-repeat scroll 0% 0% transparent; }
ol.round li.three { background: url("orderedList3.png") no-repeat scroll 0% 0% transparent; }
ol.round li.four { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList4.png") no-repeat scroll 0% 0% transparent; }
ol.round li.five { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList5.png") no-repeat scroll 0% 0% transparent; }
ol.round li.six { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList6.png") no-repeat scroll 0% 0% transparent; }
ol.round li.seven { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList7.png") no-repeat scroll 0% 0% transparent; }
ol.round li.eight { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList8.png") no-repeat scroll 0% 0% transparent; }
ol.round li.nine { background: url("urn:not-loaded:http://localhost:4042/Images/orderedList9.png") no-repeat scroll 0% 0% transparent; }
article { float: left; width: 70%; }
aside { float: right; width: 25%; }
aside ul { list-style: none outside none; padding: 0px; }
aside ul li { background: url("urn:not-loaded:http://localhost:4042/Images/bullet.png") no-repeat scroll 0px 50% transparent; padding: 2px 0px 2px 20px; }
.label { font-weight: 700; }
#loginForm { border-right: 2px solid rgb(200, 200, 200); float: left; width: 55%; }
#loginForm .validation-error { display: block; margin-left: 15px; }
#socialLoginForm { margin-left: 40px; float: left; width: 40%; }
#socialLoginForm h2 { margin-bottom: 5px; }
fieldset.open-auth-providers { margin-top: 15px; }
fieldset.open-auth-providers button { margin-bottom: 12px; }
.contact h3 { font-size: 1.2em; }
.contact p { margin: 5px 0px 0px 10px; }
.contact iframe { border: 1px solid rgb(51, 51, 51); margin: 5px 0px 0px 10px; }
fieldset { border: medium none; margin: 0px; padding: 0px; }
fieldset legend { display: none; }
fieldset ol { padding: 0px; list-style: none outside none; }
fieldset ol li { padding-bottom: 5px; }
label { display: block; font-size: 1.2em; font-weight: 600; }
label.checkbox { display: inline; }
input, textarea { border: 1px solid rgb(226, 226, 226); background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: 1.2em; margin: 5px 0px 6px; padding: 5px; width: 300px; }
textarea { font-family: inherit; width: 500px; }
input:focus, textarea:focus { border: 1px solid rgb(122, 192, 218); }
input[type="checkbox"] { background: none repeat scroll 0% 0% transparent; border: inherit; width: auto; }
input[type="submit"], input[type="button"], button { background-color: rgb(211, 220, 224); border: 1px solid rgb(120, 120, 120); cursor: pointer; font-size: 1.2em; font-weight: 600; padding: 7px; margin-right: 8px; width: auto; }
td input[type="submit"], td input[type="button"], td button { font-size: 1em; padding: 4px; margin-right: 4px; }
.message-info { border: 1px solid; clear: both; padding: 10px 20px; }
.message-error { clear: both; color: rgb(232, 12, 77); font-size: 1.1em; font-weight: bold; margin: 20px 0px 10px; }
.message-success { color: rgb(122, 192, 218); font-size: 1.3em; font-weight: bold; margin: 20px 0px 10px; }
.error { color: rgb(232, 12, 77); }
.field-validation-error { color: rgb(232, 12, 77); font-weight: bold; }
.field-validation-valid { display: none; }
input.input-validation-error { border: 1px solid rgb(232, 12, 77); }
input.input-validation-error[type="checkbox"] { border: 0px none; }
.validation-summary-errors { color: rgb(232, 12, 77); font-weight: bold; font-size: 1.1em; }
.validation-summary-valid { display: none; }
table { border-collapse: collapse; border-spacing: 0px; margin-top: 0.75em; border: 0px none; }
th { font-size: 1.2em; text-align: left; border: 0px none; padding-left: 0px; }
th a { display: block; position: relative; }
th a:link, th a:visited, th a:active, th a:hover { color: rgb(51, 51, 51); font-weight: 600; text-decoration: none; padding: 0px; }
th a:hover { color: rgb(0, 0, 0); }
th.asc a, th.desc a { margin-right: 0.75em; }
th.asc a:after, th.desc a:after { display: block; position: absolute; right: 0px; top: 0px; font-size: 0.75em; }
th.asc a:after { content: "▲"; }
th.desc a:after { content: "▼"; }
td { padding: 0.25em 2em 0.25em 0px; border: 0px none; }
tr.pager td { padding: 0px 0.25em 0px 0px; }
@media only screen and (max-width: 850px) {
  header .float-left, header .float-right { float: none; }
  header .site-title { margin: 10px; text-align: center; }
  #login { font-size: 0.85em; margin: 0px 0px 12px; text-align: center; }
  #login ul { margin: 5px 0px; padding: 0px; }
  #login li { display: inline; list-style: none outside none; margin: 0px; padding: 0px; }
  #login a { background: none repeat scroll 0% 0% transparent; color: rgb(153, 153, 153); font-weight: 600; margin: 2px; padding: 0px; }
  #login a:hover { color: rgb(51, 51, 51); }
  nav { margin-bottom: 5px; }
  ul#menu { margin: 0px; padding: 0px; text-align: center; }
  ul#menu li { margin: 0px; padding: 0px; }
  .main-content, .featured + .main-content { background-position: 10px 0px; }
  .content-wrapper { padding-right: 10px; padding-left: 10px; }
  .featured .content-wrapper { padding: 10px; }
  article, aside { float: none; width: 100%; }
  ol.round { list-style-type: none; padding-left: 0px; }
  ol.round li { padding-left: 10px; margin: 25px 0px; }
  ol.round li.zero, ol.round li.one, ol.round li.two, ol.round li.three, ol.round li.four, ol.round li.five, ol.round li.six, ol.round li.seven, ol.round li.eight, ol.round li.nine { background: none repeat scroll 0% 0% transparent; }
  section.feature { float: none; padding: 10px; width: auto; }
  section.feature img { color: rgb(153, 153, 153); content: attr(alt); font-size: 1.5em; font-weight: 600; }
  input { width: 90%; }
  #loginForm { border-right: medium none; float: none; width: auto; }
  #loginForm .validation-error { display: block; margin-left: 15px; }
  #socialLoginForm { margin-left: 0px; float: none; width: auto; }
  footer .float-left, footer .float-right { float: none; }
  footer { text-align: center; height: auto; padding: 10px 0px; }
  footer p { margin: 0px; }
}
